.dummy{
	color : black;
}
.holder {
  background:#ccc;
  padding:0.5rem;
  overflow: hidden;
}
.news {
  animation : slide 30s linear infinite;
  
}

@keyframes slide {
  0% {
    transform: translatex(60%)
  }

  100% {
    transform: translatex(0%)
  }
}