.featuredProducts{ 
    padding:40px 0 40px 0
}
h3{
    padding: 0 0 20px 60px;
}


/*Responsive Starts here*/
@media (max-width: 1024px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
    h3{
        padding: 0 0 16px 16px;
        font-size: 24px;
    }
}

@media (max-width: 479px) {}