.THIS .slds-button .linkasbutton{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: red!important;
  text-decoration: underline;
  cursor: pointer;
   
}

.THIS  h1, .THIS .h1,.THIS h2,.THIS .h2,.THIS h3,.THIS .h3,.THIS h4,.THIS .h4,.THIS h5,.THIS .h5,.THIS h6,.THIS .h6 {
    font-weight: unset!important;
    
}

.THIS li{
  list-style-type: none;
}