h1{
    margin-bottom: 15px;  
    margin-top:15px;
}
h5{
    margin-top:24px;
}
.pageFAQ{
    min-height:500px;
}
.pageFAQ p, .pageFAQ .cont{
    margin-top:15px;
    margin-bottom:15px;
    padding-left:20px;
}