.footerCheckout {
    background-color:#F7F7F7;
    padding: 30px 0;
    justify-content: center;
    display: flex;
    margin-top: 32px;
}
 
.footerCheckout a {
    margin-bottom: 0;
}

.footerCheckout a {
    color: #005587;
    font-size: 14px;
    position: relative;
    font-weight: bold;
    padding: 0 15px;
}

.footerCheckout a:after {
    content: "|";
    position: absolute;
    right: 0;
    top: 0;
}


.footerCheckout a:last-child:after {
    display: none;
}


@media print {
    .footerCheckout {
        display: none;
    }
}


/*Responsive Starts here*/
@media (max-width: 1024px) { 
    
.footerCheckout a { 
    padding: 0 12px;
}
}

@media (max-width: 1023px) { 

     
    .footerCheckout {
        flex-direction: column;
        text-align: center;
    }
    .footerCheckout a {
        margin-bottom: 15px ;
    }
    .footerCheckout a:after {
        display: none;
    }

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}