.THIS .slds-grid_align-end{
    justify-content: left !important;
}
.THIS th{
    /*overflow-x: auto;*/
    word-break: break-word;
    max-width: 20px;
    width:1%;
}
.THIS .padd{
  padding-top: 4px;
}
.THIS .slds-table th{
        padding-left: 1px !important; 
}
.THIS .slds-table_fixed-layout { 
table-layout: inherit !important; 
}