h4 {
   margin: 0 !important;

}

h3 {
    font-size: 20px;
    /* margin:20px 0; */
}
.selectLoc{
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin: 30px 0;

}
.slds-required {
    /* font-weight: bold; */
    font-size: 18px;
    /* margin: 39px 0px; */
    /* padding-top: 52px; */
}


.validateTit {
    margin: 0
}

.locationCont{
    margin-bottom:30px;
}

.location{
    padding:0 6%;
}
.selectFields{
    white-space: nowrap;
}
.detailSummary {
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.detailSummary h5{
margin-right:20px;
}

.orderDetails ul {
    justify-content: space-between;
    position: relative;
    list-style: none;
    padding: 10px 24px;
    align-items: center;
    border: 1px solid #656565;
    display: flex;
    background: #FAFAFA;
}
.orderDetails ul li {
    margin: 0px 10px;
    padding: 0px 10px;
}
.orderDetails ul li span {
    color: #5A5A5A;
    padding-left:5px;
}
.selectLoc h4 {
    margin-bottom: 20px;
    margin-top: 40px;
}



.searchForm {
    display: flex;
    position:relative;

}

.searchForm .searchField {
    width: 100%;
}

.searchIcon {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.mapSearch{
    margin: 15px 0;
}
.mapBtn{
    margin: 40px 0;
}

.tableCont{
    white-space: normal;
    min-height: 272px;
    overflow: auto; 
    max-height: 272px;
}
.validatePopup h5 {
    font-weight: bold;
    margin-top: 0;

}

.validateAddress .slds-modal__container {
    width: 1090px;
}

.validateAddress p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.validateCont p {
    font-size:16px !important;
    font-weight: normal !important;
    margin-left: 5px !important;
    margin-bottom:0px !important;
    width:80% !important;
}
.validateAddress .slds-modal__content {
    padding-left: 5%;
    padding-right: 5%;
}

.validateAddress .slds-modal__header {
    border-bottom: none;

}

.validateAddress ul {
    padding-right: 20px;
}

.validateAddress ul li {
    border-bottom: 1px solid #D1D2D4;
    padding: 5px 0;
    min-height: 35px;
    display:flex;
}

.validateAddress ul li span {
    width:18%;
    display: inline-block;    
    white-space: nowrap;

}
.validateAddress ul li span p{
    font-size:16px !important;
    font-weight:normal;
    margin-left:5px;
}

.validateAddress .slds-checkbox_faux {
    border-color: #707070;
}

.validateAddress .slds-modal__footer {
    border-top: none;
}

.suggestBilling {
    position: relative;
}

.suggestBilling ul {
    padding-left: 25px;
}

.suggestBilling .chckBox {
    position: absolute;
    margin-top: 4px;

}

.bold {
    font-weight: bold;
}

.checkoutPage {
    padding-left: 5%;
    padding-right: 5%;
}

.text-center {
    text-align: center;
}

.coForm .slds-form-element__row {
    margin-bottom: 15px;

}

.coForm .slds-form-element__row {
    margin-bottom: 15px;

}

h5 a {
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
    text-decoration: none;
}

.shipMethod {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}

.shipMethod h4 {
    margin-right: 20px;
    margin-bottom: 0;
}

/* .shipMethod h5 strong{
    margin-bottom:20px;
} */

.shipPickMeth {
    font-family: 'Helvetica Neue Medium';
    letter-spacing: -0.015rem;
    font-size: 16px;
    margin-right: 25px;

}

.shipPickMeth label {  
    display: inline-block;
}

.mapTable {
    /* margin-bottom: 15px; */
    padding: 15px;
}

.mapTable p {
    font-family: Helvetica Neue Medium;
    letter-spacing: -.015rem;
    font-size: 16px;
    font-weight: normal;
}

.mapTable td label {
    color: #005587;
}
.mapTextBox{
    display: flex;
    align-items: center;
}


.errorMsg p {
    color: #da291c;
    margin-left: 10px;
}

.reviewBtn {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.searchForm {
    display: flex;
    position: relative;
}

.searchForm .searchField {

    width: 100%; 
}

.searchForm .searchField:focus {
    border-color: #000;
    box-shadow: none;
}

.searchIcon {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
}
.errorMsg {
    text-align: center;
    margin: 10px;
}
/* .shipOption h5{
    margin-top:15px;
    margin-bottom: 15px;
} */
/* .shipOption ul {
    background:rgb(230, 231, 232);
} */
.shipOption ul li {
    display: flex;

    flex-direction: row;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
}

/* .shipOption li label {
    margin-left: 10px;
    margin-right: 10px;
} */
.shipOption li span {
    font-size: 16px;
    font-family: Helvetica Neue Medium;
    letter-spacing: -.015rem;
}

.shipOption .slds-form-element__icon {
    line-height: 0;
}

/* .shipOption li span:last-child {
    justify-content: right;
    position: absolute;
    right: 8px;
} */
.billInfo {

    margin-bottom: 15px;

}

.orderSummary {
    padding: 15px 35px;

    background: #f4f4f4;

    margin: 0 0 15px;

    color: #000;

    /* font-weight: 600; */

    font-size: 14px;

    box-shadow: 0 0 5px #ccc;
}

.orderSummary h5 {
    font-size: 18px;
    margin-bottom: 24px;
}

.orderSummary ul li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 16px;
}

.orderSummary ul li strong {
    font-size: 20px;
}

.paymentBtn {
    width: 100%;
}

.paymentBtn a {
    text-decoration: none;
}

.input_align {
    font-weight: 600;
}


.coForm .slds-form-element__row {
    margin: 0 -0.75rem 15px -0.75rem !important;

}

.coForm .slds-form-element {
    padding-left: 0.75rem ;
    padding-right: 0.75rem ;
}

.mapTable tr>td {
    color: #6D7278;
}

.mapTable tr >td  {white-space: normal;}

.mapTable tr>td label:first-child {
    color: black;
}
.mapTable tr >td:nth-child(4){
    white-space: nowrap;
}

/* .mapTable tr > td label:last-child{ 
            color:#005587;
            } */

::placeholder {
    /* Most modern browsers support this now. */
    color: #6D6E71;
}

.rrPolicy {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.labelRClr {
    color: red !important;
}

/* Radio button*/
.myRadio input[type="radio"] {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.myRadio input[type="radio"]+label {
    background: #fff;
    border: 1px solid #025F92;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    color: #025F92;
    font-size: 16px;
    position: relative;
}

.myRadio input[type="radio"]:checked+label {
    background: #0A8300;
    color: #0A8300;
    border-color: #0A8300;
}

.myRadio input[type="radio"]:checked+label:after {
    content: "\e912";
    font-family: 'cumminsIcons' !important;
    position: absolute;
    left: 50%;
    color: #fff;
    margin-left: -12px;
}

.icon-address-book {
    font-size: 20px;
    vertical-align: middle;
}

.billInfo span:last-child {
    font-size: 16px;
}
 .title{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    font-size: 14px;
    margin:20px 0;
}
.title a{
padding:0 5px;
}
.mapCont{
    margin-top:30px;
}
.mapData{
    padding:0 20px;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.table-scroll {
    display: block;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid;
}

.table-scroll thead {
    background-color: #f1f1f1;
    position: relative;
    display: block;
    width: 100%;
    /*overflow-y: scroll;*/
}

.table-scroll tbody {
    /* Position */
    display: block;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Decoration */
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.table-scroll tr {
    width: 100%;
    display: flex;
}

.table-scroll td,
.table-scroll th {
    flex-basis: 100%;
    flex-grow: 2;
    display: block;
    padding: 1rem;
    text-align: left;
}

.body-half-screen {
    max-height: 50vh;
}

.mapPagination {}

.mapPagination a {
    border: 1px solid #005587;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 16px 5px 16px;
    border-radius: 3px;
    text-decoration: none;

}

.mapPagination a:hover {
    color: #fff;
    background: #005587;
}

.mapPagination .showing {
    text-align: right;
}

.applyCoupon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px 0;
}

/* .applyCoupon button {
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
  } */
.applyCoupon input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

.applyCoupon a {
    width: auto;
}

.errorField input{
    border-color:#da291c;
}
.reviewBtn{
    text-align: left;
}

.pickupPopup h5{
    margin: 15px;
}
.pickupPopup .slds-modal__footer{
    border: none;
    text-align: center;
    padding-bottom: 30px;
}
.addBook h3{
    text-align:left;
    font-size: 22px;
    font-weight: bold;
}
.addBookLabel{
   
 padding-bottom:20px;
    position: relative;
    display: inline-flex;
    padding-bottom:20px;
    margin: 0;
    vertical-align: super;
}
.addBookLabel .slds-form-element__label{
    background:#e6e7e8;
    width: 570px;
    padding:20px;
    border-radius:3px;
}

.addBook .slds-modal__header{
    border-bottom:none !important;
}
.addBook .slds-modal__footer{
    border: none !important;
    padding-bottom: 30px;
}

input[type=radio]:checked + label span.labelAlign{
    border: 1px solid #005587 !important;
}


.searchForm {
    display: flex;
    position:relative;
}

.searchForm .searchField {
    width: 100%;
}

.searchIcon {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.locationDrpdwn{
    margin-top: -16px;
    border: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,#d4d4d4);
    border-radius: var(--lwc-borderRadiusMedium,.25rem);
    padding: var(--lwc-spacingXxSmall,.25rem) 0
}

/*Responsive Starts here*/
@media (max-width: 1024px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
    .checkoutPage {
        padding-left: 8px;
        padding-right: 8px;
    }

    .shipMethod {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 34px;
    }

    .shipMethod h4 {
        width: 100%;
        margin-right: 0;
    }

    .coForm .slds-form-element {

        padding-left: 0;
        padding-right: 0;
    }

    .coForm .slds-form-element__row {
        flex-direction: column;
        margin: 0 !important;
    }

    .coForm .slds-form-element__row .slds-size_6-of-12 {
        width: 100%;
        margin: 0 0 15px !important;
    }

    .orderSummary {
        padding: 15px 15px;
    }

    .validateAddress .slds-modal__container {
        width: auto;
    }
    .validateAddress .slds-modal__content {
        padding-left: 0;
        padding-right: 0;
    }
    .validateAddress h5{
        margin-left:16px;
    }
    .validateAddress ul li{
        padding:5px 16px;
    }
    .validateAddress ul li span {
        width: 50%;

    }

    .validateAddress ul {
        margin-bottom: 20px;
        padding-right:0
    }

    .validateAddress .slds-modal__footer .slds-button+.slds-button {
        margin: 10px 0 0 0 !important;
    }

    .validateAddress .slds-modal__footer .slds-button {
        width: 100%
    }
    .suggestBilling .chckBox {
        left: 6px;
    }
    .suggestBilling h5 {
        font-size: 18px;
    }
    .shipPickMeth {

        margin-top: 16px;
    }
    .footerBtns .slds-button {
        width: 100%;
    }
    .footerBtns .slds-button+.slds-button {
        margin: 16px 0 0 0 !important;
    }
    .mapTable thead {
        display: none;
    }
    
     
    
    .mapTable  tr >td  {
        display: block;
        border:none;
    }
    .mapTable tr >td:last-child {
        border-bottom: 1px solid #ccc;
        padding-bottom: 16px;
    }
    .THIS.customIcon div{
        vertical-align: top !important;
    }
}

@media (max-width: 479px) {}