.rpInsideCont .main_prod {
    margin-left: 24px;
    width: 230px;
}
.rpInsideCont .main_prod .prod_namealign {
    display: block;
    margin-bottom: 10px;
}
.rpInsideCont .placeholder {
    border: 1px solid #FF4501;
    border-radius: 2px;
    text-align: center;
    min-width: 38px;
    display: inline-block;
    margin-bottom: 10px;
}
.prod_price {
    font-size: 16px;
    font-weight: bold;
}
.sup_edit{
color: #da291c;
padding-left: 2px;
    padding-right: 2px;
 position: relative;
    top: 2px;
} 
.rpInsideCont {
    border: none;
    display: flex;
    cursor:pointer;
    padding: 0;
}
.rpInsideCont .img_adj {
    max-width: 75px;
    max-height: 75px;
    object-fit: contain;
}

.originalPrice{
    font-size: 14px;
    color: #787878;
    text-decoration: line-through;
    display: block;
    line-height: normal; 
  }