.stepNav {
    margin: 0 10%;
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    font-family: arial;
    z-index: 5;
}

.stepNav:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #DDDBDA;
    position: absolute;
    left: 0;
    margin-left: 0;
    bottom: 9px;

}

.stepNav li {
    position: relative;
    z-index: 6;
}

.stepNav li span,
.stepNav li a {
    line-height: 24px;
    padding-bottom: 20px;
    display: block;
    color:#58595B;
    
    font-size: 16px;
}

.stepNav li:first-child a,
.stepNav li:first-child span {
    margin-left: -50%
}

.stepNav li:last-child a,
.stepNav li:last-child span {
    margin-right: -37%;

    text-align: right;
}

.stepNav li a {
    color: #0e5f8d;
    text-decoration: underline
}

.stepNav li.active span {
    font-weight: bold;
    color:#000000
}

.stepNav li:before {
    border: 1px solid #979797;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -8px;
    bottom: 0;
    background: #ffffff;
    z-index: 8;
}

.stepNav li:after {
    background: #979797;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    left: auto;
    margin-right: -3px;
    right: 50%;
    bottom: 5px;
    content: "";
    position: absolute;
    display: block;
    z-index: 8;
}

.stepNav li:first-child:before {
    left: 0;
}

.stepNav li:last-child:before {
    left: auto;
    right: 0
}

.stepNav li:last-child:after {
    right: 8px;
}

.stepNav li.completed:first-child:after {
    left: 0;
}

.stepNav li.completed:last-child:after {
    left: auto;
    right: 9px;
}

.stepNav li.active:before {
    border: 4px solid #DA291C;
    background: #fff;
}

.stepNav li.active:after {
    background: none;
}


.stepNav li.completed:before {
    width: 16px;
    height: 16px;
    background-color: #006C5B;
    background-repeat: no-repeat;

    background-size: 8px 8px;
    background-position: 2px 2px;
}

.stepNav li.completed:after {
    content: "\e912";
    font-family: 'cumminsIcons' !important;
    color: #fff;
    font-size: 6px;
    position: absolute;
    left: 50%;
    top: 32px;
    z-index: 9;
    margin-left: -4px;
    background: none;
}

@media print {
     .stepsCont{display:none;}
}

 
/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  

    .stepNav{
        margin: 10px 8% 0 8%;
    }
    ul.stepNav li span {    font-size: 12px!important;
        text-align: center;
        line-height: 14px;
        width: 64px;
    }

    .stepNav li.completed:after { 
        top: 36px; 
    }

}

@media (max-width: 479px) {}