.cartTitHeader {
    padding: 5px 0;
    background: #f4f4f4; 
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin:0 0 25px 0;
}

.cartItemRow{
    margin-bottom: 15px;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 15px;
    font-size: 16px;
}
.cartItemRow:last-child{
    border:none;
}
.itemInfo img{
    margin-right:0.75rem;
}
.itemInfo p{
    color:#cccccc;
    margin-top:5px;
}

h2{
    font-size: 24px;
}
h2.tit{
    font-size: 24px;
    font-weight:bold;
    margin-bottom:15px;
}
.sale-tag {
    align-items:center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }
  .sale-tag Img {
    margin-right: 5px;
  }


@media print {
    a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

   
    .cartTitHeader{
        background-color:#f4f4f4 !important;
        -webkit-print-color-adjust: exact; 
    }
   
    .cartItemRow a {
        text-decoration: none;
    
    }

    .cartItemRow .qty {
        width: 16%;
    }
     
    .cartItemRow .amt {
        width: 17%;
    }
}