.THIS.button {
    
    width: 115px;
    height: 45px;
    background: rgb(194, 57, 52);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    
}
.THIS .slds-form-element__label{
    font-size: 14px !important;
}