.THIS .right-align {
    text-align: right;
}
.THIS .activeGreen{
    color: green;
    font-weight: bold;
}
.THIS .expiredRed{
    color: red;
    font-weight: bold;
}
.THIS .notActiveGray{
    color: gray;
    font-weight: bold;
}
.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.THIS .hide-error-message .slds-form-element .slds-form-element__help {
    display: none;
}
.THIS .prodHour {
    padding-left:98px;
}
.THIS .custom-background-expired {
    background-color:#95969a !important;
}

.THIS .custom-background-active {
    background-color:#c23934 !important;
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}