.addInfoReq{
    border-style: solid;
    border-color:#FF0000;
}
.returnOrderItems{
    min-height: 500px;
    margin-top: 30px;
    padding: 0 5%;
}
h1{
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
}
h1+p{margin-bottom:16px;}
.cartTitHeader {
    padding: 5px 0;
    background: #f4f4f4; 
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-bottom:15px;
}
 
.item, .itemInfo {
    padding-left: 50px;
    position: relative;
    align-items: center;
}
.returnCheck {
    position: absolute;
    left: 16px;
}
.cartItemRow{
    margin-bottom:15px;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom:15px;
    align-items: center;
}
.itemInfo img{
    margin-right:0.75rem;
}
.itemInfo p{
    color:#6D6E70;
    margin-top:5px;
}
.itemInfo h6 {
    margin-bottom: 5px;
    font-weight:bold;
    font-size:16px;
}
.itemInfo .stockAvb {
    font-weight: bold;
    font-size:14px;
    min-width:76px;
    white-space:nowrap;
}
.itemInfo .storePick{

    display: inline-block;
    font-size:14px;
}
.itemInfo .storePick span{
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    vertical-align:top;
    display:block;
}
.itemInfo .storePick span:after {
    position: absolute;
    left: 6px;
    top: 8px;
    content: "";
    display: block;
    background: #ccc;
    width: 5px;
    height: 5px;
    border-radius: 50px;
} 
 

.estimatedPrice{
    text-align: right;
    margin:16px 0;
}
.additionalInfo h6 {
    margin: 16px 0 10px 0;
}
.additionalInfo textarea {
    width: 100%;
    margin-bottom: 16px;
}
.buttonsBot{

}
.estimatedPrice{
    text-align: right;
    margin:16px 0;
}
.additionalInfo h6 {
    margin: 16px 0 10px 0;
}
.additionalInfo textarea {
    width: 100%;
    margin-bottom: 16px;
    padding:10px 16px;
}
.buttonsBot{margin-bottom:24px; }
.buttonsBot .slds-button{
    min-width:170px;
   
} 

/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
    .returnOrderItems  {
        padding: 0;
    }
    h1  { 
        font-size: 22px; 
        padding: 0 16px;
    }
    h1+p{
        
    padding: 0 16px;
    }
    .returnOrderItems > .slds-grid > .slds-col {
        padding: 0;
    }
    .cartItemRow .itemInfo > .slds-col+.slds-col {
        padding-left: 8px;
    }
    .cartItemRow  { 
        padding: 16px;
    }
    .cartItemRow .reason {
        width: 100%;
        order: 1;
        padding: 0;
        margin-top: 16px;
    }
    .estimatedPrice, .additionalInfo, .buttonsBot{padding: 0 16px;
    }
    .buttonsBot {
        display: flex;
        flex-direction: column-reverse;
    }
    .buttonsBot .slds-button+.slds-button {
        margin: 0 0 16px 0 !important;
    }
}

@media (max-width: 479px) {}