.btn_cookies{
    color: white;
    margin-left: auto;
    font-size: 16px;
    font-family: HelveticaNeue-Bold;
    margin-left: auto;
}

.cookies_header{
    font-size: 16px;
    text-align: center;
    font-family: HelveticaNeue-Medium;
    margin-left:auto;

}
.cookies_width{
    position: relative;
    top: 0;
    width: 106%;
    margin-left: -31px;
}
/* .btn_cookies {
    margin-left: auto;
    color: white;
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    margin-left: auto;
} */