.THIS .fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    
    
}
 
.THIS .legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    
}

.THIS .textArea {
    width :380px !important;
    height :150px !important;
}

.THIS .slds-textarea {
    height :150px !important;
   
}

.THIS .destructive svg {
    fill : rgb(194,57,52) !important;
}

.THIS .destructive {
   background-color: rgb(255,255,255) !important;
}