.searchForm {
    display: flex;
    position:relative;
}

.searchForm .searchField {
    width: 100%;
}

.searchIcon {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

ul.predectiveSearch {
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #000000;
    border-radius: 0px 0px 3px 3px;
    max-height: 200px;
    z-index: 11;
    overflow: auto;
    border-top: 0;
}
ul.predectiveSearch li strong {
    padding: 0.5rem 0.75rem 0.25rem 0.75rem;
    display: block;
}
ul.predectiveSearch li span {
    padding: 0.25rem 0.75rem;
    color: #000000;
    display: block;
    cursor: pointer; 
}
ul.predectiveSearch li span.recent{
    color:#005587;
}
ul.predectiveSearch li span:hover { 
    background-color: #f8f8f8;
}


/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
    ul.predectiveSearch  {
        left: 0;
        border: none;
        max-height: 300px;
    }
    ul.predectiveSearch  li  span {
        padding: 0.5rem 1rem;
    }
    ul.predectiveSearch  li  strong  {
        padding: .5rem 1rem .25rem; 
    }
    
.searchIcon { 
    right: 4px;}
}

@media (max-width: 479px) {}