.logo{
    max-height: 60px; 
}
@media print {
a[href]:after {
    content: none !important;
  }
}

/*Responsive Starts here*/
@media (max-width: 1024px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
  .logo{
    max-height: 44px; 
}
}

@media (max-width: 479px) {}