.posrel{
    position: relative
}
.addressList{
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    font-size: 16px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    margin-top: .125rem;
    margin-bottom: .125rem;
    position:absolute;
    z-index:1000;
    width: 100%;
    margin-left: 0.5rem;
}
.myAdd{
    background: #f4f5f5;
    border: 1px solid #f4f5f5;
    border-radius: 3px;
    opacity: 1;
    padding: 30px;
    margin-bottom: 20px;
}
h4{
    margin-bottom:20px;
}

h1{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}


.addBookHeader{
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0rem .5rem;
}
.addBookCont{
    border-top: 1px solid #c7c7c7;
    padding: 1.5rem .5rem;
}
.default{
    background: #005587;
    color: #FFFFFF;
    padding: 1px 10px;
    border-radius: 3px;
    border: 1px solid #005587;
    text-decoration: none;
    margin-left: 5px;
}
.errorNotify{
    color:#DA291C;
}
.newAddBtn{
    text-align: center;
}
.newAddBtn span{
    font-size: 24px;
    margin-right: 7px;
    margin-bottom: 7px;
}
.editAddFtr span{
   /* font-size: 16px;*/
    margin-right: 5px;
}
/*-----------------------------------ModalPop-----------------------------------------------------*/


.slds-modal .slds-modal__header, .slds-modal .slds-modal__footer {
    border: none;
}
.slds-modal .slds-modal__header{
    padding-bottom: 0;
}
.slds-modal .slds-modal__header .slds-modal__title {
    text-align: left;
    font-size: 32px;
    font-weight: bold;
}


.slds-form-element_compound .slds-form-element__row { 
    margin-bottom: 15px;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.slds-form-element_compound .slds-form-element {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.chckBox .slds-form-element__label{
    color: #222222 !important;
    margin-left: 5px !important;
    vertical-align: middle;
    margin-right: 5px;
}
.delAdd a{
    color:#DA291C !important;
    font-weight:bold;
    text-decoration: none;
    margin-right:4px;
}
/* .myAddPopUp .slds-form-element{
    padding-right: .70rem;
} */
.ftrModal span :last-child{
    color:#222222;
}
/* .chckBox{
    float:left
} */
.ftrModal .slds-form-element__label {
    padding-right: 0;
}
@media print {
    a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}
.myAdd{
    display:none;
}
}

.editAddFtr {
    display: flex;
    flex-direction: row-reverse;
}

.delAdd {
    display: flex;
    align-items: center;
}

/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {   
    .myAdd{
        padding:16px;
    }
    .myAddPopUpCont .slds-form-element {

        padding-left: 0;
        padding-right: 0;
    }

    .myAddPopUpCont .slds-form-element__row {
        flex-direction: column;
        margin: 0 !important;
    }

    .myAddPopUpCont .slds-form-element__row .slds-size_1-of-1 {
        width: 100%;
        margin: 0 0 15px !important;
    } 
    .myAddPopUp .slds-modal__footer{

        display: flex;
        flex-direction: column;
    }
    .myAddPopUp .slds-checkbox.chckBox {
        display: flex;
        order: 1;
        margin-bottom: 16px;
    }
    .myAddPopUp .slds-button_brand {
        display: flex;
        order: 2;
        margin-bottom: 16px;
    }
    .myAddPopUp .slds-button_outline-brand {
        display: flex;
        order: 3;
    }
    .headerFooterModal .slds-modal__content {
        min-height: calc(100vh - 240px);
    }
    .coForm .slds-form-element {

        padding-left: 0;
        padding-right: 0;
    }

    .coForm .slds-form-element__row {
        flex-direction: column;
        margin: 0 !important;
    }

    .coForm .slds-form-element__row .slds-size_6-of-12 {
        width: 100%;
        margin: 0 0 15px !important;
    }
    .editAddFtr {
        flex-direction: column;
    }
    .editAddFtr .btns {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }
    .editAddFtr .btns .slds-button {
        width: 50%;
    }
    .addBookHeader > div:last-child{
        display:none;
    }
    .addressList{
        margin-left: 0;
    }

}

@media (max-width: 479px) {}