<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>IAM_Templates/IAM_Setpassword</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailFooterText>© 2020 Cummins Inc., Box 3005, Columbus, IN 47202-3005 U.S.A.</emailFooterText>
    <emailSenderAddress>noreply.identity@cummins.com</emailSenderAddress>
    <emailSenderName>Cummins Marketplace</emailSenderName>
    <enableCustomVFErrorPageOverrides>true</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableExperienceBundleBasedSnaOverrideEnabled>false</enableExperienceBundleBasedSnaOverrideEnabled>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>false</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>IAM_Templates/IAM_Resetpassword</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <lockoutTemplate>IAM_Templates/IAM_UserLockOut</lockoutTemplate>
    <logoutUrl>https://access.cummins.com/RC_OnlineLogin/cola/logoutend.jsp</logoutUrl>
    <networkMemberGroups>
        <permissionSet>OSM_Fleet_Admin_CC</permissionSet>
        <permissionSet>OSM_Support_Admin</permissionSet>
        <permissionSet>OSM_Sales_Admin</permissionSet>
        <permissionSet>OSM_Sales_User</permissionSet>
        <permissionSet>OSM_Business_Admin</permissionSet>
        <permissionSet>OSM_Guest</permissionSet>
        <permissionSet>OSM_IT_Admin_Permission_Set</permissionSet>
        <permissionSet>OSM_Distributor_Admin</permissionSet>
        <permissionSet>IAM_OSM_Business_Admin_Permission_Set</permissionSet>
        <permissionSet>OSM_Storefront_Admin</permissionSet>
        <profile>admin</profile>
        <profile>cloudcraze customer community user</profile>
        <profile>iam_site_admin_community</profile>
        <profile>marketplace guest community plus user</profile>
        <profile>iam_application_support_advanced</profile>
        <profile>iam_application_support</profile>
        <profile>osm_it_support_admin</profile>
        <profile>iam_admin_user_iam</profile>
        <profile>iam_admin_user</profile>
        <profile>iam_distributor_admin_platform_read_only</profile>
        <profile>iam_distributor_admin_platform</profile>
        <profile>iam_cummins_care</profile>
        <profile>iam_distributor_user</profile>
        <profile>css_dealer_advanced</profile>
        <profile>css_dealer_data_exchange_admin</profile>
        <profile>css_dealer_technician</profile>
        <profile>iam_cihr_platform</profile>
        <profile>css_cps_advanced</profile>
        <profile>iam_user_community_license</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>VisualForce</homePageOverrideSetting>
        <loginPageOverrideSetting>VisualForce</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>CloudBurst_Customer_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>CloudBurst_Customer_Community</site>
    <siteArchiveStatus>NotArchived</siteArchiveStatus>
    <status>Live</status>
    <tabs>
        <customTab>Storefront</customTab>
        <defaultTab>01r4N000000iFRh</defaultTab>
    </tabs>
    <urlPathPrefix>CMIStore</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
