<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>IAM_Templates/IAM_Set_password</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailFooterText>© 2020 Cummins Inc., Box 3005, Columbus, IN 47202-3005 U.S.A.</emailFooterText>
    <emailSenderAddress>noreply.identity@cummins.com</emailSenderAddress>
    <emailSenderName>Cummins Inc.</emailSenderName>
    <enableCustomVFErrorPageOverrides>true</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableExperienceBundleBasedSnaOverrideEnabled>false</enableExperienceBundleBasedSnaOverrideEnabled>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>false</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>IAM_Templates/IAM_Reset_Password</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <logoutUrl>https://globallogin.cummins.com/OAMlogout/logout.jsp</logoutUrl>
    <networkMemberGroups>
        <permissionSet>Connected_Solutions</permissionSet>
        <permissionSet>IAM_DBUEFSR_Users</permissionSet>
        <permissionSet>Shop_Cummins_Online_Store</permissionSet>
        <permissionSet>FSL_CSSP_DelegatedAdmin</permissionSet>
        <permissionSet>EVL_Dealer_Adv</permissionSet>
        <permissionSet>EVL_Dealer_Readonly</permissionSet>
        <permissionSet>EVL_Dealer_Technician</permissionSet>
        <permissionSet>EVLClassicAdvanced</permissionSet>
        <permissionSet>EVLClassicTechnician</permissionSet>
        <permissionSet>FSL_CSSP_Customer</permissionSet>
        <profile>admin</profile>
        <profile>cs_community_user</profile>
        <profile>rls web</profile>
        <profile>eidm_community</profile>
        <profile>eidm_community_india</profile>
        <profile>eidm_community_da</profile>
        <profile>eidm_community_rls</profile>
        <profile>iam_admin_user</profile>
        <profile>iam user</profile>
        <profile>iam_site_admin_community</profile>
        <profile>iam_application_support_advanced</profile>
        <profile>pc_admin</profile>
        <profile>iam_admin_user_iam</profile>
        <profile>iam_pwc_user_profile</profile>
        <profile>iam_distributor_user</profile>
        <profile>iam_cihr_platform</profile>
        <profile>iam_cummins_care</profile>
        <profile>iam_distributor_admin_platform</profile>
        <profile>iam_distributor_admin_platform_read_only</profile>
        <profile>css_support</profile>
        <profile>css_ws_factory_warranty_manager</profile>
        <profile>css_ws_salesforce_warranty_factory</profile>
        <profile>cmi system admin</profile>
        <profile>css_cps_advanced</profile>
        <profile>cmi_read_only</profile>
        <profile>css read only</profile>
        <profile>css_service_advanced</profile>
        <profile>css_service_technician</profile>
        <profile>osm_it_support_admin</profile>
        <profile>css_ws_force_warranty</profile>
        <profile>css_ws_force_warranty_factory</profile>
        <profile>css_ws_force_warranty_factory_reader</profile>
        <profile>css_ws_force_warranty_paccar</profile>
        <profile>css_dealer_technician</profile>
        <profile>css_dealer_advanced</profile>
        <profile>iam_user_community_license</profile>
        <profile>css_ws_branch_warranty_manager</profile>
        <profile>css_ws_distributor_warranty_rescue_manager</profile>
        <profile>css_ws_community_warranty_paccar</profile>
        <profile>css_ws_community_warranty_factory</profile>
        <profile>iam_fleetguarduser</profile>
        <profile>css_ws_dealer_reader</profile>
        <profile>css_ws_dealer_rescue_coordinator</profile>
        <profile>css_ws_dealer_warranty_manager</profile>
        <profile>css_ws_distributor_coordinator_reader</profile>
        <profile>css_ws_distributor_reader</profile>
        <profile>css_ws_distributor_rescue_coordinator</profile>
        <profile>css_ws_distributor_service</profile>
        <profile>css_ws_distributor_warranty_manager</profile>
        <profile>css_ws_dealer_warranty_rescue_manager</profile>
        <profile>css_ws_factory_reader</profile>
        <profile>css_ws_dr_warranty_manager_ca</profile>
        <profile>css_dealer_data_exchange_admin</profile>
        <profile>css_ws_community_warranty</profile>
        <profile>dbu_iam_site_admin_community</profile>
        <profile>iam_partner_user</profile>
        <profile>evl_dealer_technician</profile>
        <profile>evl_dealer_readonly</profile>
        <profile>evl_dealer_advanced</profile>
        <profile>fsl_guidanz_customer_community_user</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>VisualForce</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>VisualForce</homePageOverrideSetting>
        <loginPageOverrideSetting>VisualForce</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Cummins_Web_C</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Cummins_Web2</site>
    <siteArchiveStatus>NotArchived</siteArchiveStatus>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>cw</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
