<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <changePasswordTemplate>IAM_Templates/IAM_Setpassword</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailFooterText>© 2020 Cummins Inc., Box 3005, Columbus, IN 47202-3005 U.S.A.</emailFooterText>
    <emailSenderAddress>noreply.identity@cummins.com</emailSenderAddress>
    <emailSenderName>Cummins Inc.</emailSenderName>
    <enableCustomVFErrorPageOverrides>true</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableExperienceBundleBasedSnaOverrideEnabled>false</enableExperienceBundleBasedSnaOverrideEnabled>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableMemberVisibility>false</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>IAM_Templates/IAM_Resetpassword</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <lockoutTemplate>IAM_Templates/IAM_UserLockOut</lockoutTemplate>
    <logoutUrl>https://globallogin.cummins.com/OAMlogout/logout.jsp</logoutUrl>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>css_dealer_advanced</profile>
        <profile>css_dealer_technician</profile>
        <profile>cmi system admin</profile>
        <profile>css_ws_dealer_rescue_coordinator</profile>
        <profile>css_ws_dealer_warranty_rescue_manager</profile>
        <profile>css_ws_factory_warranty_manager</profile>
        <profile>css_ws_dealer_reader</profile>
        <profile>css_ws_factory_reader</profile>
        <profile>css_ws_dealer_warranty_manager</profile>
        <profile>css_ws_distributor_coordinator_reader</profile>
        <profile>css_ws_distributor_reader</profile>
        <profile>css_ws_distributor_rescue_coordinator</profile>
        <profile>css_ws_distributor_service</profile>
        <profile>css_ws_distributor_warranty_manager</profile>
        <profile>css_ws_dr_warranty_manager_ca</profile>
        <profile>css_dealer_data_exchange_admin</profile>
        <profile>css_ws_distributor_warranty_rescue_manager</profile>
        <profile>css_ws_branch_warranty_manager</profile>
        <profile>css_ws_community_warranty_paccar</profile>
        <profile>css_ws_community_warranty</profile>
        <profile>css_ws_community_warranty_factory</profile>
        <profile>css_ws_salesforce_warranty_factory</profile>
        <profile>css_ws_force_warranty_paccar</profile>
        <profile>css_ws_force_warranty_factory_reader</profile>
        <profile>css_ws_force_warranty_factory</profile>
        <profile>css_ws_force_warranty</profile>
        <profile>css_cps_advanced</profile>
        <profile>css_ws_warranty_factory_reader</profile>
        <profile>css_ws_warranty_factory</profile>
        <profile>css_ws_warranty</profile>
        <profile>css_ws_warranty_paccar</profile>
        <profile>evl_dealer_advanced</profile>
        <profile>evl_dealer_readonly</profile>
        <profile>evl_dealer_technician</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>VisualForce</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Guidanz_C</picassoSite>
    <reputationLevels>
        <level>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>151.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>801.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>1501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>2501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>10001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>20</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>20</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Guidanz</site>
    <siteArchiveStatus>NotArchived</siteArchiveStatus>
    <status>Live</status>
    <tabs>
        <customTab>CommunityHome</customTab>
        <customTab>CSS_WS_Warranty__c</customTab>
        <customTab>CSS_WS_No_Availability__c</customTab>
        <customTab>CSS_WS_Rescue__c</customTab>
        <customTab>CSS_WS_Statement__c</customTab>
        <customTab>CSS_WS_Dealer_Payments</customTab>
        <customTab>CSS_WS_Pending_Approvals</customTab>
        <defaultTab>01r61000000R9Zw</defaultTab>
        <standardTab>report</standardTab>
    </tabs>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
