.orderDetailsView .slds-grid{
  align-items: inherit;}
.orderDetails{
  padding: 25px 15px;
  background: #e5f3f7;
  min-height: 100%;
  border-radius:3px;
}
.orderDetails h5{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 24px;
}
.orderDetails h5+p{
  font-size:16px;
}
.orderDetails h6{
  font-size:16px;
  font-weight:bold;
  margin-bottom: 5px;
}
.orderDetails h6+span{
  font-size:16px;
}
.orderDetails > .slds-grid:first-child{
  margin-bottom:30px;
}
.orderSummary {
  padding: 15px;
  background: #e5f3f7; 
  color: black;
  font-weight: 400; 
  min-height: 100%;
  border-radius:3px;
}
.orderSummary h5{
  font-size:20px;
  margin-bottom:15px;
  font-weight: bold;
}
.orderSummary ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 16px;
}
.orderSummary ul li strong{
  font-size: 20px;
}
.orderSummary ul li:last-child {
  margin: 0;
}
.orderSummary ul li span+span {
  text-align: right;
}
.qty, .amt{
  text-align:center;
}
.emailAdj span{
  word-break: break-all;
}






@media print {
  a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

  .orderDetailsView{
        padding:0;    
  }
  .orderDetails, .orderSummary{
      background-color:#eeeeee !important;
      -webkit-print-color-adjust: exact; 
  }
  .orderDetails{
      word-break: break-word;
  }
  .orderSummary ul li strong{
    font-size: 16px;
  }
  .orderSummary{
margin-top:0px !important;
margin-left:10px !important;
  }
  .orderDetails p{
    font-size:12px !important;
  }
  .orderDetails h5{
    font-size: 14px !important;
  }
  .orderDetails h6{
    font-size:14px !important;
    font-weight:bold;
    margin-bottom: 5px;
  }
  .orderDetails span{
    font-size:12px !important;
  }
  .orderSummary h5{
    font-size:14px !important;
    margin-bottom:10px !important;
    font-weight: bold;
  }
  .orderSummary ul li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 12px !important;
  }
  .orderSummary ul li strong{
    font-size: 14px !important;
  }
  .orderRecBlock li {
    font-size: 12px !important;
  }
}



/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
  .orderDetailsView {
    margin-top: 16px;
}
.orderDetails >.slds-grid:first-child {
  margin-bottom:0;
}
.orderDetailsView > .slds-grid > .slds-col {
  padding: 0;
}
.orderDetails > .slds-grid > .slds-col {
  margin-bottom: 20px !important;
}
.orderSummary {
  margin-top: 24px;
}

}

@media (max-width: 479px) {}