.posrel{
  position: relative
}
.outofstockOnImg{
  position: absolute;
  top: 30%;
  left: 20%;
  height: 40px;
  padding: 10px 16px;
  font-size: 14px;
  color: #333;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 4px;
}
.opacitedImg{
  opacity: 0.3;
}
.resultBlock {
  border: 1px solid #939598;
  margin-bottom: 24px;
  border-radius: 3px;
  padding: 16px;
  align-items: center;
  margin: 0 .75rem 24px;
  cursor: pointer; 
  background-color: #fff;
  /* min-height: 273px;  */
  height: 140px; 
  /*CECI-954 added changes*/
  position: relative;
  /* display: block; */
}
.sale-tag {
  display:flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
.resultBlock img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  min-width: 150px;
  min-height: 150px;
  transition: all 0.4s;
}
.resultBlock .sale-tag img {
  min-width: 13px !important;
  min-height: 13px !important;
}
.resultBlock:hover img {
  transform: scale(1.2);
}
.resultBlock .w-100 .sale-tag img {
  min-width: 13px !important;
  min-height: 13px !important;
  max-height: 0 !important;
  max-width: 0!important;
  margin: 0 4px 0 0;
  transform: none;
}

h6 {
  color: #000000;
  display: block;
}
.resultBlock h6+p {
  margin-top: 20px;
}
.productPrice {
  margin-left: auto;
  font-weight: 700;
  align-items: center;
  padding-top: 4px;
}

.productPrice label {
  padding-right: 16px;
  font-weight: 600;
}
.productPrice strong {
  font-size: 16px;
  position: relative;
}
.originalPrice {/*changed from .prodPrice strong span.originalPrice*/
  font-size: 12px;
  color: #787878;
  text-decoration: line-through;
  display: block;
  line-height: normal;
  /* position: absolute;
  top: -16px; */
}
.productPrice span.discountTag{
  color: #3A8023;
  padding-left: 4px;
  font-size: 12px;
}
.py-20 {
  padding-top:20px;
}
.h1 {
  margin-bottom: 14px;
}

.h5 {
  margin-bottom: 40px;
  font-weight: normal;
}

.h6 {
  font-weight: normal;
}
.resultBlock h6 {
  /* height:60px; removed as CECI-954 changes */
}
.outStockClrnce[data-val*="Out"]{
  color:#da291c;
}
.outStockClrnce.errorColor{
  color:#da291c;
}
.prodname{
  /*CECI-954 added changes*/
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: auto !important;
}
.cardFooterDetails{
  /*CECI-954 added changes*/
  position: absolute;
  bottom: 10px; /*changed 0 to 10px*/
  /* padding-bottom: 16px !important; */
}


/* Sasikanth CECI-960 Start */
.gridView c-dbu_homesubcategoryproduct .slds-wrap {
  margin: 0;
  min-height: 273px;
}
.listBlock {
  border: 1px solid #939598;
  margin-bottom: 24px;
  border-radius: 3px;
  padding: 16px 16px 16px 16px;
  align-items: center;
  margin: 0 .75rem 24px;
  cursor: pointer; 
  background-color: #fff;
  min-height: 140px; 
}
.listBlock.list .pImg {
  max-width: 199px;
  max-height: 108px;
  object-fit: contain;
  /* transition: all 0.4s; */
  padding-left: 49px;
  padding-right: 49px;
}
.listBlock.list:hover .pImg {
  transform: scale(1.2);
}
/* .listBlock.list .listImg {
  
} */
.listBlock.list  .grid-clearance .clearance-tag {
  display:flex !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 14px !important;
  color: #333333 !important;
  padding-top: 12px;
}

.listBlock.list .grid-clearance .clearance-tag img {
  min-width: 13px !important;
  min-height: 13px !important;
  max-height: 0 !important;
  max-width: 0!important;
  margin: 0 4px 0 0;
  transform: none;
}
/* .resultBlock>div.slds-col_padded .grid-clearance {
  display:none;
} */
.resultBlock .listImg img {
  display:none;
}
@media (max-width: 767px) {
  .prodCard {
  padding: 8px;
  }
  .cardFooterDetails{
      /*CECI-954 added changes*/
      /* padding-bottom: 8px !important;  */ /*removed*/
  }
}

.ft-right {
  float:right;
}

/* Sasikanth CECI-960 End */