.prodCard {
    border-color:#939598;
    background-color:#ffffff;
    min-height: 278px;
    padding: 8px 16px;
    cursor:pointer;
}
.prodCard img {
    max-height: 120px;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
    transition: 0.4s all ease-in-out;
}
.prodCard:hover img {
    transform: scale(1.2);
}
.prodCard .name { 
    color: #000;
    height: 76px;
    display: block;
    margin-top: 8px;
    line-height: 19px;
    font-size: 16px;
    word-break: break-word;
    position: relative;
}
.prodCard .ratingPrice {
    display: flex;
    margin-top: 8px;   
    flex-direction: column;
    align-items: flex-end;
}
.prodCard .rating {
    border: 1px solid #da291c;
    font-size: 14px;
    color: #000;
    padding-right: 10px;
    padding-left: 3px;
    border-radius: 2px;
    position: relative;
    line-height: 20px;

}
.prodCard .rating .star {
    color: #da291c;
    position: absolute;
    height: 6px;
    top: 11px;
    right: 2px;
    line-height: 6px;
}
.prodCard .reviews {
    padding-left: 5px;
    font-size: 12px;
    color: #212121;
}
.prodCard .price {
    margin-left: auto;
    font-weight: 600;
    text-align: right;
    min-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
}
.prodCard .orgPrice{
    text-decoration: line-through;
    color: #787878;
    font-size: 14px;
    display: block;
    font-weight: normal;
}


/*Responsive Starts here*/
@media (max-width: 1024px) {
 
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
    .prodCard{
    padding: 8px;
    min-height:265px
    }
    .prodCard  .name {
        height: 95px;
    }
}

@media (max-width: 479px) {}