.THIS .picklist {
    height: calc(2rem + 1px)!important;
    width: 81%;
}

.THIS .textwidht {
    height: calc(2rem )!important;
    width: 80%;
}

.THIS .slds-modal__container{
    max-width: 70rem !important;
    width:75% !important;
}