.THIS .slds-grid_align-end{
    justify-content: left !important;
}
.THIS th{
    /*overflow-x: auto;*/
    word-break: break-word;
    max-width: 30px;
    width:10%;
}
.THIS .padd{
  padding-top: 7px;
}
.THIS .slds-table th{
        padding-left: 1px !important;
}