.numberCircle {
    padding-right: 0;
    padding-bottom: 5px;
    border: 1px solid;
    border-width: 3px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 8px;
    background: #c73434;
    border: 2px solid red;
    color: white;
    text-align: center;
    font: 24px ;
    font-family: HelveticaNeue-Bold;
    padding-top: 6px;
    padding: 3px 8px 8px !important;
    margin-top: -5px;

}
.drop-down { 
    position: relative;  
    display: inline-block;    
    width: auto;       
    margin-top: 0;   
    font-family: verdana;    
    }      
    .drop-down select {   
    display: none;    
    }      
    .drop-down .select-list {   
    position: absolute;     
    top: 0;      
    left: 0;     
    z-index: 1;    
    margin-top: 40px;    
    padding: 0;         
    background-color: #595959;      
    }      
    .drop-down .select-list li {   
    display: none;      
    }    
    .drop-down .select-list li span {  
    display: inline-block;      
    min-height: 40px;        
    min-width: 280px;      
    width: 100%;        
    padding: 5px 15px 5px 35px;     
    background-color: #595959;     
    background-position: left 10px center;   
    background-repeat: no-repeat;       
    font-size: 16px;       
    text-align: left;       
    color: #FFF;        
    opacity: 0.7;      
    box-sizing: border-box;     
    }     
    .drop-down .select-list li span:hover,  
    .drop-down .select-list li span:focus {     
    opacity: 1;     
    }
    .slds-select{
        border: none;
        padding-bottom: 5px;
    }
    .btn-clr{ 
    color: black;
    border: none;
    background-color: white;
    }
    .svg_adj{
        padding-top: 6px;
        padding-left: 6px;
    }
    .main_label{
        width: auto;
    margin-left: 52px;   
    color: #2574a9;
    }
    .li_algn{
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 600;
    }
    .arrow {
        box-sizing: border-box;
        height: 6px;
        width: 6px;
        border-style: solid;
        border-color: black;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
        display: inline-block;
        margin-left: 6px;
        margin-bottom: 2px;

      }
      .slds_widthadj{
          width: auto;
      }


      .btn-clr:hover, .btn-clr:focus {
     border: none;
      }
      .label_hov:hover{
        transform: translateX(10px);
      }
      .label_hov{
      transition: transform 0.3s ease;
      transform: translateX(0px);
      }
      .overflow{
          overflow-x: hidden;
      }
      .span_bgd{
          background-color: white;
      }
      .languageSelectorOpen
        {
        color:red;
        }
        .languageSelectorClosed
        {
        color:black;
        }

        .cart_main{
            display: flex;
        }