.serviceInfo {
  padding: 0 6%;
}

.detailSummary {
  display: flex;
  align-items: center;
  padding-top: 18px;
  margin: 30px 0;
}

.serviceInfo h5 {
  margin-right: 20px;
  margin-bottom: 28px;
}

.serviceInfo h4 {
  margin: 30px 0;
}

.orderDetails ul {
  justify-content: space-between;
  position: relative;
  list-style: none;
  padding: 10px 24px;
  align-items: center;
  border: 1px solid #656565;
  display: flex;
  background: #FAFAFA;
}

.orderDetails ul li {
  margin: 0px 10px;
  padding: 0px 10px;
}

.orderDetails ul li span {
  color: #5A5A5A;
  padding-left: 5px;
}

.serviceIcon ul li:last-child {
  vertical-align: top;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 120px;
  min-height: 105px;

}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 60px;
  width: 60px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

/* :checked+label {
  background-color: #FFF0F0;
  min-width: 120px;
  min-height: 120px;
  border-radius: 10px;
} */

/* :checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
} */

:checked+label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}

.serviceFields .slds-form-element__row {
  margin-bottom: 20px;
}

.serviceDrpdwn {
  margin-top: 40px;
}

/* .radioBtn{
  display: flex;
  justify-content: center;
} */

.floatBlock {
  margin-top: 10px;
}

.serviceTxtArea {
  min-height: 143px;
}

.airCond {
  margin-left: 0;
}

.serviceFields .slds-size_5-of-12 {
  margin-right: 20px;
}

.uploadFile {
  margin-top: 10px;
}

.actionBtn {
  margin: 40px 0;
}

.serviceIcon input[type=radio] {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.serviceIcon input[type="radio"]:checked+label {
  background-color: #FFF0F0;
  min-width: 120px;
  min-height: 105px;
  border-radius: 10px;
}

.serviceIcon {
  margin: 20px 0;
}

.serviceIcon p {
  color: #414042;
  font-size: 13px;
}

.ServDateTime {
  color: #6D6E71;
  white-space: nowrap;
  display: flex;
  margin-left: 4.5px;
  font-size: medium;
}

.GenSymptoms {
  color: #6D6E71;
  white-space: nowrap;
  display: flex;
  margin-left: 4.5px;
  font-size: medium;
}