.THIS .homeStyleBtnDark {
    /*color:#FFFFFF; 
    background-color:#004949;
    display: block;
    width:200px;*/
    
    padding-left: var(--sds-c-button-brand-spacing-inline-start, var(--lwc-spacingMedium,1rem));
    padding-right: var(--sds-c-button-brand-spacing-inline-end, var(--lwc-spacingMedium,1rem));
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    transition: border .15s linear;
    background-color: var(--sds-c-button-brand-color-background, var(--lwc-brandAccessible,rgb(0, 124, 124)));
    border-color: var(--sds-c-button-brand-color-border, var(--lwc-brandAccessible,rgb(0, 124, 124)));
    color: var(--sds-c-button-brand-text-color, var(--lwc-colorTextBrandPrimary,#FFFFFF));                                 
}