.THIS.blue{
    color: blue;
}

.THIS  .slds-form-element__control .slds-radio{
    display : inline-block !important;
    clear : left !important;
    
}

.THIS .slds-form-element__legend{ 
    font-weight: 500 !important;
    max-width: 60% !important;
}

.THIS .spinnercss {
    margin-top: -15% !important;
    Z-INDEX: 999999;
    MARGIN-LEFT: 50%;
    background-color: rgba(0, 0, 0, 0.10) !important;
}

.THIS .hide-error-message > .slds-form-element > .slds-form-element__help {
    display: none;
}