.btn-clr {
    color: black;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
}
.slds-is-open .btn-clr{
    color:#DA291C;
}
.dropDownCont {
    width: auto;
    left: auto;
    color: #2574a9;
    border: none;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.16);
    min-width: 200px;
    top: 26px;
    right: -210px;
    padding: 10px 0;
    margin: 0;
}

.dropDownCont li {
    line-height: 32px;
    font-weight: 400;
    padding:6px 15px;
    position: relative;
    transition: all 0.2s;
    cursor:pointer;
    font-size:16px;
    display:flex;
    align-items:center;
  
}
.dropDownCont li:hover, .dropDownCont li.selected {
    background-color:#f8f8f8;
    padding-left: 30px;
}

.dropDownCont li i {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 9px;
    opacity: 0;
    transition: all .4s;
    margin-top: -4px;
}
.dropDownCont ul li .slds-media__body{
    margin-bottom: 0px;
    padding: 0;
    display: flex;
    align-items: center;
}
.dropDownCont li:hover i, .dropDownCont li.selected i { 
    left: 13px;  
    opacity:1
}

.fillArrow {
    margin-left: 6px;
    position: relative;
    top: -2px;

}

.slds-is-open .fillArrow {
    transform: rotate(180deg);
} 

.btn-clr:hover,
.btn-clr:focus {
    border: none;
} 
/*Responsive Starts here*/
@media (max-width: 1024px) {
 
}

@media (max-width: 1023px) {
 

}

@media (max-width: 767px) {
    .dropDownCont {
        right: auto;
        top: 60px;
        border-radius: 0;
        position: absolute;
        width: 100%;
        left: 0;
        transform: none;
    }
    .dropDownCont.noNotification{
        top:60px;
    }
 
}

@media (max-width: 479px) {}

@media print {
    .noPrint {
        display: none;
    }
}