.floatBlock {  
    margin: 0 1.81em 0 0;
}
.equipment{
    padding:0 6%;
}
.equipment h5 {
    margin: 20px 0;
}
.equipment h4{
margin: 18px 0;
}
.equipTable.slds-table thead th {
    background: #F4F5F5;
    border-radius: 5px;
}
.imageAlign{
    display: flex;
    align-items: center;
}
.slds-table tbody tr{
    border-bottom: 1px solid #c7c7c7;
}
.slds-table tbody tr:last-child
{
   border-bottom: none;
}
.eqipBtn{
    margin: 30px 0;
}
.equipTable tbody tr th {
    padding-bottom: 20px;
    padding-top: 20px;
}
.newEqip {
    margin: 40px 0;
}
.newEqipCont {
    margin-bottom: 20px;
}
.newEqipCont .slds-col {
    padding-right: 25px;
}
.equipDetails input[type=radio]:checked+label{
    color: #0DFF92;
    font-weight : bold;
  }