.coupon-remove{
  border: 1px solid;
  color: #005587;
  padding: 5px;
  border-radius: 7px;
  margin-left: 10px;
  display: inline-block;
  width: auto;
  }
h3 {
  margin-bottom: 20px;
  font-size: 28px;
}

.paymentPage {
  min-height: 500px;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

.cartTitHeader {
  padding: 5px 0;
  background: #f4f4f4;
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}

.qtyLabel {
  text-align: center;
}

.cartItemRow {
  margin-bottom: 15px;
}

.itemInfo img {
  margin-right: 0.75rem;
}

.itemInfo p {
  color: #cccccc;
  margin-top: 5px;
}

.orderSummary {

  padding: 15px 35px;
  background: #f4f4f4;
  margin: 0 0 24px;
  color: #000;
  /* font-weight: 600; */
  font-size: 14px;
  box-shadow: 0 0 5px #ccc;
}

.orderSummary h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.orderSummary ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 16px;
}

.orderSummary ul li strong {
  font-size: 20px;
}

.orderReviewItems {
  margin-top: 15px;
  margin-bottom: 15px;
}

.reviewShip {
  margin-bottom: 24px;
}

.reviewShip .slds-col {
  background: content-box#f4f4f4;
}

.reviewShip .slds-col:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.reviewShip .slds-col:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.reviewShip .slds-col .content {
  padding: 10px 30px;
}

.reviewShip .slds-col .content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewShip .slds-col .content ul {
  margin-bottom: 15px;
}

.reviewShip .slds-col .content ul li {
  display: block;
}

.reviewBtn {
  width: 100%;
}

.reviewBtn a {
  text-decoration: none;
}

.reviewAdj {
  min-width: 50%;
  max-width: 50%;
}

.stickyElement {
  position: sticky;
  top: 0;
}

.debitcardNote {
  margin: 8px 0 16px 0;
  
  min-width: 100%;
  width: 100%;
}
.payment_cc_information {
  position: relative;
}
.payment_cc_information.loaderadded:before {
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  border-top: 3px solid #005587;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}

.dbu_CC_Cybersource_pmt_iframe {
  width: 100%;
  border: none;
  height: 100px;
  overflow-x: hidden;
  margin: 0 0 24px 0;
  border-radius: 3px;
  z-index: 1;
  position: relative;
}
.dbu_CC_Cybersource_pmt_iframe.iFrameOpened {
  height: 424px; 
}

.slds-button.selected {
  background: #006C5B;
  color: #fff;
  border-color: #006C5B;
}

.payPal img {
  height: 30px;
  margin-left: 8px;
}
.ccPaymentOuterContainer{
  width:100%;
}
.paymentBtns{
  width:100%
}

.returnBtn {
 margin-bottom:16px;
}

.textbtn {
  display: flex;
}

.shippingtitle{
  /*margin: 20px 0 0;*/
  margin: 0px;
}

.applybtn button {
  min-width: 101px;
}

/*Responsive Starts here*/
@media (max-width: 1024px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
  .paymentPage {
    padding: 0 8px;
  }

  .reviewShip {
    flex-direction: column;
  }

  .reviewShip .slds-col {
    max-width: 100%;
  }

  .reviewShip .slds-col .content {
    padding: 16px;
  }

  .orderSummary {
    padding: 15px;
  }

  .paymentBtns {
    display: flex;
    flex-direction: column-reverse;
  }

  .paymentBtns .slds-button {
    order: 1;
    display: flex;
    width: 100%;
  }

  .debitcardNote {
    order: 1;
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    margin-top: 4px;
  }

  .paymentBtns .payCC {

    order: 3;
  }

  .returnBtn {
    width: 100%;
  }
  .errorText {
    color:#f00;
}

p.errorText {
  color:#f00;
}

.couponApplied{
  margin: 15px 0 0px 0;
  font-size: 16px;
  color: #58595B; 
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}
.couponApplied i{
  background: #0a8300;
  font-size: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  margin-right: 5px;
  color: #fff;
  display: inline-block;
  line-height: 16px;
  min-width: 16px;
  min-height: 16px;
  margin-top: 3px;
  text-align: center;
}
.couponApplied a{
  color:#DA291C;
  margin-left: 10px;
}


}

@media (max-width: 479px) {}

.coupon-remove {
  border: 1px solid;
  color: #005587;
  padding: 5px;
  border-radius: 7px;
  margin-left: 10px;
}