.taxBreakup ul li{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 16px;
    padding-left:40px;
    }

    .taxBreakup ul li span+span {
      text-align: right;
      padding-left: 20px;
  }
  .mb-10{
    margin-bottom:10px;
  }
  @media print {
    li,
    span{
    font-size:12px !important;
  }
}


  /*Responsive Starts here*/
  @media (max-width: 1024px) {   
  }
  
  @media (max-width: 1023px) {}
  
  @media (max-width: 767px) {   
    .taxBreakup ul li{ 
      padding-left:20px;
      }
  }
  
  @media (max-width: 479px) {}