.accBanner{
    /* height:160px; */
    background:#DA291C;
    color:#FFFFFF;
    height:96px;

}
.accBanner p{
    font-size: 32px;
    font-weight: bold; 
}
.accTab{
   
    /* justify-content: space-around; */
    margin-top:20px;

}
.myAccCont{
    padding:0 7% 2% 7%;
}
.myAccBanner{
    padding:1% 7% 1% 7%;
}
.myAccBanner ol {
    color:white;
}
.breadCrumbs a, .breadCrumbs span{
color:#FFFFFF;  
}
.breadCrumbs span{
    margin-left:9px;
}
.myAccBanner nav.breadCrumbs{
    margin:0;
    padding: 0;
}

@media print {
    a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

    /* .orderReceiptPage h1{
       display:none;
    }
    .orderReceiptPage .confirmMsg 
    {
display:none;
    }
    .orderReceiptPage  .print{
        display:none;
            } */
            .accBanner{
                display:none;
            }
           .noPrint{
               display:none;
           }
  
   
}


/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
    .accBanner{
        height:auto;
    }
    .myAccBanner{
        padding: 16px;
    }
    .myAccBanner  nav.breadCrumbs {
        
    padding: 0;
    }
    .accBanner p {
        margin-left:0;
    }
    .myAccCont {
        padding: 0;
    }
}

@media (max-width: 479px) {}