.prodThumbs {
    padding: 0 30px;
    position: relative;
    margin-top:24px;
    margin-bottom:24px;
    width: 428px;
    display: flex;
    justify-content: center;
} 

.prodThumbs .icon-left-arrow, .prodThumbs .icon-right-arrow {
    /* position: absolute;
    font-size: 20px;  
    top: 50%;
    margin-top: -10px;
    color: #005587;
    cursor: pointer; */
    position: absolute;
    width: 40px;
    height: 44px;
    color: #005587;
    text-align: center;
    line-height: 44px;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 0 0 1px #e2e2e2;
    top: 50%;
    margin-top: -22px;
    cursor: pointer;
    background: white;
    margin-left: -10px;
    margin-right: -10px;

}
.prodThumbs .icon-left-arrow:hover{
    box-shadow: 0 0px 5px #e2e2e2;
}
.prodThumbs .icon-right-arrow:hover{
    box-shadow: 0 0px 5px #e2e2e2;
}
.prodThumbs .icon-left-arrow{
    left: 5px;
}
.prodThumbs .icon-right-arrow{
    right: 5px;
}


.prodThumbs > span {
    display: none;
}
.prodThumbs div:nth-child(5)+span, .prodThumbs div:nth-child(5)+span+span {
    display: block;
}

.prodThumbs .imgCont{
    padding: 0 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.prodThumbs .imgCont img{
    border: 1px solid #939393;
    border-radius: 3px;
    width:56px;
    height:56px;
    object-fit:contain;
    display:block;
    cursor: pointer;
    background-color:#fff;
    transition: all 0.3s; 
    padding:5px;
}
.prodThumbs .imgCont:hover img, .prodThumbs .imgCont img.selected{
    transform: scale(1.1);
    border: 1px solid #333333; 
}
.prodThumbs .imgCont .thumbnail {
    position:relative;
}
.videoOverlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    border: none;
    border-radius: 3px;
    transition: all .3s;
}
.prodThumbs .imgCont:hover .videoOverlay {
    transform: scale(1.1);
}

.playBtn {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    border-radius: 3px;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}



.playBtn::before {
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    margin-left: -17px;
    margin-top: -17px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.9);
    content: "";
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
}

.playBtn::after {
    width: 0;
    height: 0;
    border-color: transparent transparent transparent hsla(0,0%,100%,.9);
    border-style: solid;
    border-width: 10px 0 10px 16px;
    margin-left: -7px;
    margin-top: -10px;
    border-radius: 3px;
    content: "";
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
}
 

    
/*Responsive Starts here*/
@media (max-width: 1024px) {   
    .prodThumbs{
    width: 94%;
    }
  }
  
  @media (max-width: 1023px) {}
  
  @media (max-width: 767px) { 
    .prodThumbs{
        width: 100%;
        padding: 0 34px;
        }
    .prodThumbs .imgCont{
        padding: 0 0.1rem;
  }
  .prodThumbs .imgCont img{
    width: 40px;
    height: 40px;
  }
  .playBtn{
    width: 40px;
    height: 40px;
  }
  .playBtn:before{width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
  }
  .playBtn:after{
    margin-top: -8px;
    border-width: 8px 0 8px 12px;
    margin-left: -4px;
  }
}
  
  @media (max-width: 479px) {}