.cartTitHeader {
    padding: 5px 0;
    background: #f4f4f4; 
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin:0 0 25px 0;
}

.cartItemRow{
    margin-bottom: 15px;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 15px;
    font-size: 16px;
}
.cartItemRow:last-child{
    border:none;
}
.itemInfo img{
    margin-right:0.75rem;
}
.itemInfo p{
    color:#cccccc;
    margin-top:5px;
}

h6{ 
    padding: 16px;
} 

.qty{
    text-align:center !important;
}
/* Sasikanth CECI - 957 Start*/
.sale-tag {
    align-items:center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }
  .itemInfo .sale-tag Img {
    margin-right: 5px;
  }
  /* Sasikanth CECI - 957 End*/
@media print {
    a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

   
    .cartTitHeader{
        background-color:#f4f4f4 !important;
        -webkit-print-color-adjust: exact; 
    }
   
    .cartItemRow a {
        text-decoration: none;
    
    }
    .cartTitHeader{
        display: flex !important;
    }
    .cartItemRow .itemInfo{
        width: 50% !important;
    }
    .cartItemRow .qty{
        width: 16.6666666667% !important;
        /* padding-left: 0.5rem !important; */
    }
    .cartItemRow .amt,  .cartItemRow .orderStatus {
        width: 16.6666666667% !important;
    }
    a[href]:after {
        content: none !important;
    }
}

/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
    .orderItemDetails > .slds-col{
        padding:0;
    }
.cartItemRow .itemInfo > .slds-col+.slds-col {
  padding-left: 8px;
}
.cartItemRow  { 
  padding: 16px;
}
.cartItemRow .qty{
  text-align:center;
} 
}

@media (max-width: 479px) {}