.myOrders {
    min-height: 500px;
    margin-top:30px; 
}
.myOrderForm{
    background-color:#F4F5F5;
    padding:20px 10px;
    margin:20px 0
} 

.myOrderTable .motTitle {
    border-bottom: 1px solid #C7C7C7;
    padding: 5px 0;
    font-weight: bold;
}
.myOrderTable .motListRow { 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
}
.searchIcon {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
}

.myOrderTile{
    margin-bottom:20px;
}
.OrderSubTile{
    display:flex;
    justify-content:flex-end;
}
.OrderSubTile a{
    /* margin: 0 10px; */
    margin-left:15px;
}
.print{
    /* border: 1px solid #ccc;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px; */
    /* display: inline-block; */
    height:44px;
}

.slds-button i {
    margin-left: 10px;
}
.returnOrder p{
    margin: 15px;
    font-size: 20px;
    font-weight: 700;
}
.returnOrder .slds-modal__footer {
    border-top: 1px solid #dddbda!important;
    padding-bottom: 10px;
}
.myOrderForm .slds-form-element {
 margin-bottom: 0;
   
    }


    .motTitle span{
        cursor:pointer
    }
    
    .downArrow
    {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMi45MiIgaGVpZ2h0PSIxOC4wMTQiIHZpZXdCb3g9IjAgMCAxMi45MiAxOC4wMTQiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiM3MDcwNzA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zNS4wNDIgLTI4Ljk0OCkiPjxwYXRoIGNsYXNzPSJhIiBkPSJNNDcuOTYyLDQwLjEyM3YyLjY2TDQzLjgsNDYuOTYybC00LjE2MS00LjE3OXYtMi42NmwzLjIyNSwzLjIzOVYzNi42NDdoMS44NzN2Ni43MTVabS0xMi45Mi00LjMzNnYtMi42NkwzOS4yLDI4Ljk0OGw0LjE2Miw0LjE3OXYyLjY2TDQwLjE0LDMyLjU0OHY2LjcxNUgzOC4yNjdWMzIuNTQ4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvZz48L3N2Zz4=");
        background-repeat:no-repeat;
        background-position: 100% 0;
        padding-right: 22px;
    }
    .upArrow
    {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMi45MiIgaGVpZ2h0PSIxOC4wMTQiIHZpZXdCb3g9IjAgMCAxMi45MiAxOC4wMTQiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiM3MDcwNzA7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zNS4wNDIgLTI4Ljk0OCkiPjxwYXRoIGNsYXNzPSJhIiBkPSJNNDcuOTYyLDQwLjEyM3YyLjY2TDQzLjgsNDYuOTYybC00LjE2MS00LjE3OXYtMi42NmwzLjIyNSwzLjIzOVYzNi42NDdoMS44NzN2Ni43MTVabS0xMi45Mi00LjMzNnYtMi42NkwzOS4yLDI4Ljk0OGw0LjE2Miw0LjE3OXYyLjY2TDQwLjE0LDMyLjU0OHY2LjcxNUgzOC4yNjdWMzIuNTQ4WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwKSIvPjwvZz48L3N2Zz4=");
        background-repeat:no-repeat;
        background-position: 100% 0;
        padding-right: 22px;
    } 

@media print {
    a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

    .orderReceiptPage h1{
       display:none;
    }
    .orderReceiptPage .confirmMsg 
    {
        display:none;
    }
    .orderReceiptPage  .print{
        display:none;
            }
   .myOrderTile{
       display:none;
    }

     
}


/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {   
    .myOrders{
        margin-top:0;
    }
    .myOrderForm{
        margin:0;
        padding: 16px 16px 0 16px;
    }
    .myOrderForm .slds-col_padded, .myOrderForm .slds-form-element_stacked:not([class*="slds-size"]) {
        padding: 0;
    }
    .myOrderForm .slds-grid .slds-col {
        margin-bottom: 16px;
    }
    .motTitle{
        display:none;
    }
    .motListRow .slds-col {
        width: 50%;
        text-align: left;
        margin-bottom: 16px;
        padding: 0;
    }
    .motListRow .slds-col .mWindow{
        font-weight:bold;
    }
    .motListRow .slds-col:nth-child(4) {
        display: none;
    }
    .myOrderTable .motListRow  {
        padding: 16px;
        margin: 0 ; 
        border-bottom: 1px solid #C7C7C7;
    }
    .backToOrders{
        font-size:18px;
        font-weight: bold;
        margin:16px 0;
        text-align:center;
    }
    .OrderSubTile a.print{
        
    min-width: inherit;
    }
    .OrderSubTile .slds-button+.slds-button{
        
    margin-left: 6px !important;
    }
}

@media (max-width: 479px) {}