.returnReviewPage{
    min-height: 500px;
    margin-top: 30px;
    padding: 0 5%;
}
h1{
    margin:20px ;
}
h5{
    margin:20px;
}
.returnReviewCont{
    display:flex;
}
.reviewAdd{
background:#e5f3f7;
padding:25px;
}
.cartTitHeader {
    padding: 5px 0;
    background: #f4f4f4; 
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-bottom:15px;
}

.cartItemRow{
    margin-bottom:15px;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom:15px;
}
.itemInfo img{
    margin-right:0.75rem;
}
.itemInfo p{
    margin-top:5px;
}
.itemInfo h6 {
    margin-bottom: 5px;
    font-weight:bold;
    font-size:16px;
}
.itemInfo .stockAvb {
    font-weight: bold;
    font-size:14px;
    min-width:76px;
    white-space:nowrap;
}
.itemInfo .storePick{

    display: inline-block;
    font-size:14px;
}
.estimatedPrice{
    text-align: right;
    margin:16px 0;
}
.btnAlign{
    margin-left:15px;
}
.additionalInfo h6 {
    margin: 16px 0 10px 0;
}
.additionalInfo textarea {
    width: 100%;
    margin-bottom: 16px;
}

.buttonsBot {
    margin-bottom: 24px;
}
.buttonsBot .slds-button{
    min-width:170px;
   
}