.orderReceiptPage{
    min-height: 500px;
    padding: 0 5%;
}
h1{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight:bold;
}

h2{
    font-size: 24px;
}
h2.tit{
    font-size: 24px;
    font-weight:bold;
    margin-bottom:15px;
}

h2+p {
    margin: 10px 0 20px;
    font-size: 16px;
    line-height: 18px;
}
h2+p a{
    font-weight:bold;
}
.confirmMsg {
    position: relative;
    padding-left: 80px;
}
.confirmMsg i {
    position: absolute;
    background: #0A8300;
    width: 50px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 40px;
    font-size: 24px;
    left: 10px;
    top: 6px;
}
a.print {
    /* border: 1px solid #ccc; */
    /* font-weight: bold;
    padding: 5px 15px; */
    /* border-radius: 5px; */
    display: inline-block;
}

 
		
  .slds-button i {
    margin-left: 10px;
}
.t-center{
    text-align:center !important;
}
/* 
.icon-print{
    font-size: 25px;
    margin-right: 0px;
} */

.orderSign {
    text-align:center;
    margin-bottom: 24px;
  }
  @media print {
    a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

    .orderReceiptPage h1{
       display:none;
    }
    .orderReceiptPage .confirmMsg 
    {
display:none;
    }
    .orderReceiptPage  .print{
        display:none;
            }
            .orderSign  {
                display:none;
                    }
  
   
}