.wishListPage {
    padding: 0 16px;
}
h4{
    margin-bottom:15px;
    padding-bottom:15px;
}
.cartTitHeader {
    padding: 5px 0;
    background: #f4f4f4; 
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-bottom:15px;
}


.cartItemRow{
    margin-bottom:15px;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom:15px;
}
.itemInfo img{
    margin-right:0.75rem;
}
.itemInfo p{
    color:#cccccc;
    margin-top:5px;
}
.itemInfo h6 {
    margin-bottom: 5px;
    font-weight:bold;
    font-size:16px;
}


.amt, .qty{
    line-height: 44px;
}

.del{ 
    text-decoration:none;
    line-height: 44px;
}

.del i{
    
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 5px;
    line-height: normal;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: 700;
}
.del i:hover  {
    background: #f2f6f9;
}

.newAddBtn{
    text-align: center;
}
.newAddBtn span{
    font-size: 24px;
    margin-right: 7px;
    margin-bottom: 7px;
}

.outStockClr[data-val*="Out"]{
    color:#da291c;
}
.noWishList{
    padding:16px;
    display:block;
}
/* Sasikanth CECI-957 start */
.sale-tag {
    align-items:center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}
.itemInfo .sale-tag Img {
    margin-right: 5px;
}
/* Sasikanth CECI-957 end */
/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
    .wishListPage {
        padding: 0 ;
    }
    .cartItemRow .itemInfo > .slds-col+.slds-col {
        padding-left: 8px;
    }
    .cartItemRow  { 
        padding: 16px;
    }
    h4{
        margin: 16px;
    padding: 0;
    }
     .cartItemRow .cart{
        
    order: 1;
    padding-left: 0;
    }
}

@media (max-width: 479px) {}