.cartTitHeader {
  padding: 5px 0;
  background: #f4f4f4; 
  color: black;
  font-weight: 600;
  font-size: 16px;
  margin:0 0 25px 0;
}

.cartItemRow{
  margin-bottom: 15px;
  border-bottom: 1px solid #C7C7C7;
  padding-bottom: 15px;
  font-size: 16px;
}
.qty{
  text-align: center;
}
.amt{
  text-align:center;
}
.cartItemRow:last-child{
  border:none;
}
.itemInfo img{
  margin-right:0.75rem;
}
.itemInfo p{
  color:#cccccc;
  margin-top:5px;
}

h2{
  font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
  
}
h2 span{
  border-top: 1px dashed #c7c7c7;
    width: 100%;
    display: block;
    padding-bottom: 16px;
}
 


.orderDetails{
  padding: 25px 15px;
  background: #e5f3f7;
  min-height: 100%;
  border-radius:3px;
}
.orderDetails h5{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 24px;
}
.orderDetails h5+p{
  font-size:16px;
}
.orderDetails h6{
  font-size:16px;
  font-weight:bold;
  margin-bottom: 5px;
}
.orderDetails h6+span{
  font-size:16px;
}
.orderDetails > .slds-grid{
  margin-bottom:30px;
}
.orderDetails > .slds-grid:last-child{
  margin-bottom:0;
}
.orderSummary {
  padding: 15px 27px;
  background: #e5f3f7; 
  color: black;
  font-weight: 400;  
  margin-top: 24px;
  border-radius:3px;
}
.orderSummary h5{
  font-size:20px;
  margin-bottom:15px;
  font-weight: bold;
}
.orderSummary ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 16px;
}
.orderSummary ul li strong{
  font-size: 20px;
}
.orderSummary ul li:last-child {
  margin: 0;
}
  .orderSummary ul li span+span {
    text-align: right;
  }
  .f-bold{font-weight:bold;}

 .rtnItemList{
  margin-top: 24px;
  margin-bottom: 48px;
 }

@media print {
  a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

 
  .cartTitHeader{
      background-color:#f4f4f4 !important;
      -webkit-print-color-adjust: exact; 
      font-size: 12px !important;
      display:flex !important;
  }
  .cartItemRow{
    font-size:14px;
  }
 
  .cartItemRow a {
      text-decoration: none;
      font-size:12px !important;
  
  } 
  .invoiceTable .item{
    width: 30% !important;
  }
  .invoiceTable .qty {
    width: 9%!important;
  }
  .invoiceTable .uPrice {
    width: 11%!important;
  }
  .invoiceTable .disc {
    width: 10%!important;
}
.invoiceTable .est {
  width: 12%!important;
}
.invoiceTable .refAmt {
  width: 13%!important;
}
.invoiceTable .refDt {
  width: 11%!important;
}

.imgAlign{
  width: 45px !important;
  margin-right: 15px !important;
}
.item .slds-size_10-of-12{
  width: 80px !important;
}
.invoiceLabel > .slds-col label{
  display:none !important;
}
.qty,.amt{
  text-align:center !important;
}
.orderDetails, .orderSummary{
  background-color:#eeeeee !important;
  -webkit-print-color-adjust: exact; 
}
.orderDetails{
  word-break: break-word;
}
.orderSummary ul li strong{
font-size: 16px;
}
.orderSummary {
margin-top:24px !important;
margin-left:0 !important;
}
.orderDetails li{
  font-size:12px !important;
  }
 .orderDetails p{
     font-size:12px !important;
   }
   .orderDetails h5{
     font-size: 14px !important;
   }
   .orderDetails h6{
     font-size:14px !important;
     font-weight:bold;
     margin-bottom: 5px;
   }
   .orderDetails span{
     font-size:12px !important;
   }
   .orderSummary h5{
     font-size:14px !important;
     margin-bottom:10px !important;
     font-weight: bold;
   }
   .orderSummary ul li {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     margin-bottom: 10px;
     font-size: 12px !important;
   }
   .orderSummary ul li strong{
     font-size: 14px !important;
   }
}

/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}
@media (min-width: 768px) {  
  .invoiceTable .uPrice {
    width: 11%;
  }
  .invoiceTable .disc {
    width: 10%;
}
.invoiceTable .est {
  width: 12%;
}
.invoiceTable .refAmt {
  width: 13%;
}
.invoiceTable .refDt {
  width: 11%;
}
}
@media (max-width: 767px) {  
 
}

@media (max-width: 479px) {}