.paymentConfirmatinPage{
    min-height:600px;
    display:flex; 
    align-items: center;
    justify-content: center;

}
h2 {
    padding-left: 60px;
    position: relative;
}
h2 i  { 
    background: #0a8300;
    width: 50px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}
h2 i.icon-close {
    background: #da291c;
}
h2 i:after {
    animation: spin 2s linear infinite;
    content: "";
    border: 3px solid #ddd;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    position: absolute; 
    top: 0;
}
h2 i:after { 
    border-bottom-color: #0a8300;
}
h2 i.icon-close:after { 
    border-bottom-color: #da291c; 
}

h2 span{ display:block; font-size: 18px;}

/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  

    .paymentConfirmatinPage {
        padding: 0 5%;
    }
}

@media (max-width: 479px) {}