.pro_header{
    font-size: 18px;
      font-style: HelveticaNeue-Bold;
      font-family: HelveticaNeue-Bold;
      font-weight: 600;
  
  }
  .input_field{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid#013B734D;
    border-radius: 3px;
    opacity: 1;
    height: 44px;
    width: 571px;
  }



  .slds-input{
    height: 44px !important;
}
.main_content{
    display: flex;
}
.input_align{

    width:571px;
    height: 44px;
    background: #FFFFFFF2 0% 0% no-repeat padding-box;
box-shadow: 0px 1px 0px #013B734D;
opacity: 1;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
opacity: 1;
border: 1px solid #013B734D;
padding-left: 17px;
    padding-right: 50px;
    border-radius:6px;
    color: #898989;
    font-size: 16px;
    font-family: HelveticaNeue;
}

.icon_align{
    position: relative;
    right: 40px;
    bottom: -10px;
}
.qa_content{
    padding-top: 15px;
    /* padding-bottom: 15px; */
}
.q_a{
    font-size: 14px;
    font-family: HelveticaNeue-Bold;
    font-weight: 800;
    opacity: 1;
}
.col_align{
    flex:intial !important;
}
.qa_edit{
    font-size: 16px;
    color:#005587;
    font-family: HelveticaNeue-Bold;
    font-weight: 800;
    padding-right: 81px;
}
.ans_edit{
    font-size: 16px;
    color:#474747;
    font-family: HelveticaNeue;
    width:477px;
    
}
.qa_main{
    margin-top:20px;
}