ul li{
    padding-bottom: 20px;
}

ul li button {
    cursor: default;
}

ul li button:disabled {
    cursor: not-allowed;
}

ul li a,
ul li button {
    color: #005587;
    font-size: 18px;
    position: relative;
    padding-left: 36px;
    font-weight: 700;
    background: transparent;
    border: none;
    text-align: left;
}
ul li button a{
    padding-left:0;
}
ul li a,
ul li button h6 {
    cursor: pointer;
}

ul li button:disabled, ul li button:disabled h6, 
ul li button:disabled span  {
    color: #6D7278;
    cursor: not-allowed;
}
ul li button:disabled p{
    color:#000
}
ul li button:not(:disabled) h6:hover {
    text-decoration: underline;
}

ul li a i,
ul li button i {
    position: absolute;
    left: 0;
    top: 6px;
    width: 30px;
    text-align: center;
}

ul li a i.icon-email,
ul li button i.icon-email {
    font-size: 12px;
    top: 4px;
}

ul li a sup,
ul li button sup {
    font-size: 8px;
    top: -10px;
}

ul li p,
ul li span {
    font-size: 14px;
    color: #000;
    line-height: 22px;
    display: block;
    margin: 0 0 5px 0;
    font-weight: normal;
}

.icon-phone {
    font-size: 30px;
}

.icon-message {
    font-size: 22px;
}

button.chatIconFloating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    box-shadow: 0 8px 12px rgba(0, 0, 0,0.44);
    border: 2px solid #FFFFFF;
    background: #DA291C;
    width: 92px;
    color: #fff;
    border-radius: 50%;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button.chatIconFloating.chatPositionTop{
    bottom:80px;
}
button.chatIconFloating span {
    font-size: 12px;
    text-align: left; 
    line-height: 12px;
    padding-left: 16%;
 }
 
button.chatIconFloating:disabled{
    display:none;
}
/* .followUs p{
    height: 18px;
    font-size: 16px; 
    margin-bottom: 6px;
} */


/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
button.chatIconFloating.chatPositionTop{
    bottom:110px;
}
}

@media (max-width: 479px) {}