.THIS  button.sfdc_button {
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 0px solid transparent;
    padding: 10px 12px;
    font-size: 16px;
    font-family: proxima-nova, sans-serif !important;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     outline: none;
    text-shadow: none !important;
}

.THIS  button:cancelstyle {
        background-color: none !important;
    border-color: none !important;
        box-shadow: none !important;
    color:white;
    width:23px;
      background:none !important;
}
.THIS  button:hover {
        background-color: none !important;
    border-color: none !important;
        box-shadow: none !important;
    cursor:pointer;
        outline: none;
    text-shadow: none !important;
      background:none !important;
}

.THIS  button:selection {
    background:none !important;
}
.THIS -moz-selection {
    background: #B4D5FE !important;
}
.THIS button.cancelstyle:selection {
      background:none !important;
}


.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}
.THIS button.sfdc_button.uiButton :focus{
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none !important;
}
.THIS button.sfdc_button.uiButton .label{
    white-space: normal !important;
    text-decoration: underline;
     outline: none;
     background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}