.orderPage{
  min-height: 500px;
  padding-left: 5%;
  padding-right: 5%;
}
h1{
  margin-bottom: 20px;
  font-size: 28px;
}
h4{
  font-size: 18px;
  font-weight: 600;
}
.cartTitHeader {
  padding: 5px 0;
  background: #f4f4f4; 
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom:15px;
}




.cartItemRow{
  margin-bottom:15px;
  border-bottom: 1px solid #C7C7C7;
  padding-bottom:15px;
}
.itemInfo img{
  margin-right:0.75rem;
}
.itemInfo p{
  color:#cccccc;
  margin-top:5px;
}
.itemInfo h6 {
  margin-bottom: 5px;
  font-weight:bold;
  font-size:16px;
}
.itemInfo .stockAvb {
  font-weight: bold;
  font-size:14px;
  min-width:76px;
  white-space:nowrap;
}
.itemInfo .storePick{

  display: inline-block;
  font-size:14px;
}
.itemInfo .storePick span{
  font-weight: bold;
  padding-left: 20px;
  position: relative;
  vertical-align:top;
  display:block;
}
.itemInfo .storePick span:after {
  position: absolute;
  left: 6px;
  top: 8px;
  content: "";
  display: block;
  background: #ccc;
  width: 5px;
  height: 5px;
  border-radius: 50px;
}

.itemInfo {
  align-items: center;
}
.qtyLabel{
  text-align: center;
}
.qty{
  text-align:center;
}
.orderSummary {
 
padding: 15px 35px;
background: #f4f4f4;
margin: 0 0 15px;
color: #000;
 /* font-weight: 600; */
font-size: 14px;
box-shadow: 0 0 5px #ccc;
}
.orderSummary h5{
  font-size:18px;
  margin-bottom:15px;
}
.orderSummary ul li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 16px;
}
.orderSummary ul li strong{
  font-size: 20px;
}
.orderSummary ul li span+span {
  text-align: right;
}
.bottomBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px 0;
}
/* .applyCoupon button {
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
} */
.bottomBtns input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}
.bottomBtns a {
  width:auto;
}
.agree {
  margin-bottom: 15px;
}
.agree input{
  margin-right: 5px;
}
.buttons {
  display: flex;
}
.buttons button {
  width: 100%;
}
[lightning-combobox_combobox-host] {
  margin-top:-20px
}  
/* .reviewOrder-ship {
  background: content-box #f4f4f4;
}
.reviewOrder-ship  ul{
  padding-left: 75px;
    margin-bottom: 15px;
}
.reviewOrder-ShipBill{
  margin-bottom: 15px;
}

.reviewOrd-Edit{
  justify-content: space-around;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.reviewOrd-Edit a{
  font-size: 16px;
} */

.orderReviewItems{
  margin-top:20px;
  margin-bottom:10px;
}


.reviewShip .slds-col {
  background: content-box#f4f4f4;
}
.reviewShip .slds-col .content {
  padding: 10px 30px;
}
.reviewShip .slds-col .content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewShip .slds-col .content ul {
  margin-top: 10px;
}
.reviewShip .slds-col .content ul li {
  display: block;
}

.reviewBtn{
  width:100%;
}
.reviewBtn a{
  text-decoration:none;
}
.reviewAdj{
  min-width:50%;
  max-width:50%;
}
.stickyElement{
  position:sticky;
  top:0;
}

.mprice {
  display:none;
}


.estDeli{
  display: block;
}
  
 /* Sasikanth CECI-957 start */
.sale-tag {
  align-items:center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
.itemInfo .sale-tag Img {
  margin-right: 5px;
}
/* Sasikanth CECI-957 end */ 

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
  .orderPage  {
   min-height: 500px;
    padding-left: 0;
    padding-right: 0;
}
  .orderPage h1 {
    padding: 0 16px;
}
  .orderPage > .slds-grid > .slds-col {
    padding: 0;
}
.reviewShip {
  margin: 0 16px;
  flex-direction: column;
}
.reviewShip .slds-col .content  {
  padding: 16px;
}


.bottomBtns  {
  flex-direction: column-reverse;
  padding: 0 16px;
}
 .bottomBtns .slds-button+.slds-button{
   margin:0 0 16px  0 !important;
} 
.reviewShip .slds-col {
  max-width: 100%;
}

.orderReviewItems { 
  margin: 24px 16px 12px;
}
.cartItemRow .itemInfo > .slds-col+.slds-col {
  padding-left: 8px;
}
.cartItemRow  { 
  padding: 16px;
}
.cartItemRow .qty{
  text-align:center;
}
.orderSummary{
  padding: 15px ;
  margin: 24px 16px;
}
.amt_add {
  width: 100%;
}
.mprice {
  font-weight: bold;
  font-size: 18px;
  display: block;
  }
}

@media (max-width: 479px) {}


@media print {
  .cartItemRow a {
    display: none;
}
.orderSign h5 {
    display: none;
}
.printShopping{
  display: none;
}
.cartItemRow .itemInfo {
  width: 29%;
}

.cartItemRow .amt {
  width: 21%;
}

.amt_add {
  width: 29%;
}
}