.searchPage {
  position: relative;
}
/* .searchPage:before {
  background: #F8F8F8;
  content: "";
  width: 50vw;
  height: 100%;
  display: block;
  position: absolute;
} */
.searchPage .slds-container_center {
  position: relative;
}

.searchPageCont {
  background: #f8f8f8;
  align-items: inherit;
}

.searchFilter {
  padding: 1rem;
}

.searchFilter h6 {
  margin-left: 10px;
  color: #000000;
}

.slds-checkbox {
  display: block;
}

.slds-checkbox label {
  display: flex;
  align-items: center;
}

.slds-checkbox .slds-checkbox__label .slds-form-element__label {
  font-size: 16px;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
}

.esnSearchSec {
  padding: 0.75rem;
  border-bottom: 1px solid #D4D4D4;
}

.fieldCheck {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.fieldCheck .slds-form-element__control {
  width: 95%;
  margin-left: 5%;
}

.fieldCheck input[type="search"]:disabled {
  border-color: #939598;
  background: #fff;
  color: #676767
}

.fieldCheck input[type="search"] {
  border-color: #000000;
  color: #000000;
}

.esnSearchSec a {
  margin-left: 30px;
}

.esnSearchSec .clear {
  color: #DA291C;
}

.noEsnData {
  border: 1px solid #DA291C;
  line-height: 44px;
  padding: 0 16px;
  color: #DA291C;
  border-radius: 3px;
  margin: 0.75rem;
}

.searchCont {
  padding: 1rem;
  background: #ffffff;
  min-height: 500px;
}

.itemCountTitle {
  font-size: 20px;
  margin-bottom: 24px;
}

.showPerpage,
.sortBy {
  display: flex;
  align-items: center;
  color: #676767;
  justify-content: flex-end;
}

.sortBy {
  justify-content: flex-start;
}

.showPerpage .noLabel,
.sortBy .noLabel {
  margin-left: 10px;
}

.showPerpage .noLabel {
  min-width: 70px;
  width: 70px;
}

.sortListGrid {
  margin-bottom: 24px;
  margin-top: 16px;
  align-items: center;
}

.resultBlock {
  border: 1px solid #939598;
  margin-bottom: 24px;
  border-radius: 3px;
  padding: 16px;
  align-items: center;
  margin: 0 .75rem 24px;
  cursor: pointer; 
 
    background-color: #fff;
    min-height: 170px; 
}

.resultBlock img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
  min-width: 150px;
  min-height: 150px;
  transition: all 0.4s;
}

.resultBlock:hover img {
  transform: scale(1.2);
}

h6 {
  color: #000000;
  display: block;
}
.resultBlock h6+p{

  margin-top: 20px;
}
.price {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items:flex-end;
}

.h1 {
  margin-bottom: 14px;
}

.h5 {
  margin-bottom: 40px;
  font-weight: normal;
}

.h6 {
  font-weight: normal;
}

.gridView {
  display: flex;
  flex-wrap: wrap;
}

.gridView .resultBlock {
  width: 17.8%;
  margin: 0 1.1% 2.2% 1.1%; 
  align-items: flex-start;
  padding: 16px 16px .7rem;    
  min-height: 285px;

}

.gridView c-dbu_homesubcategoryproduct{
  width: 17.8% !important;
  margin: 0 1.1% 2.2% 1.1% !important;
}

.gridView .resultBlock>div {
  width: 100%;
  padding: 0;
}

.gridView .resultBlock .pImg {
  text-align: center; 
}

.gridView .resultBlock img {
  max-width: 120px;
  max-height: 120px;
  min-width: 120px;
  min-height: 120px;
  object-fit: contain;
}

.gridView .resultBlock h6 { 
  height: 72px; 
  margin-top: 8px;
  line-height: 19px;
  font-size: 16px;
  word-break: break-word; 
  font-weight: normal;
}

.gridView .resultBlock p {
  display: none;
}

.gridView .resultBlock .h1 {
  font-size: 18px;
  order: 2;
  line-height: normal;
  min-height: 46px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  margin:0;
}

.gridView .resultBlock .avb {
  text-align: left; 
  white-space: nowrap;
  font-size: 14px;
}
.gridView .price {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
  min-height: 24px;
}
 

ul.contact {
  margin: 30px 0;
    display: flex;
}

ul.contact li {
  display: flex;
  border: 1px solid #005587;
  border-radius: 3px; 
  width: 31.3%;
  margin-right: 2%;
  padding: 12px;
  text-align: left; 
  flex-direction: column;
  justify-content: center;
  padding-left: 46px;
  position:relative;
}

ul.contact li button {
  background: transparent;
  border: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%; 
}

ul.contact li h6 {
  color: #005587;
  margin:0;
}
ul.contact li button:not(:disabled) h6:hover {
  text-decoration: underline;
  cursor:pointer;
}
ul.contact li a {
  color: #005587;
  font-size: 18px; 
  font-weight: 700;
  display: inline-block;
  padding-right: 15px; 
}
ul.contact li span{
  display:block;
  font-size: 14px;
  color:#000
}
ul.contact li i {
  position: absolute;
  left: 16px;
  color: #005587;
  font-size: 18px;
}
ul.contact li button i{
  top: 17px;
}
ul.contact li i.icon-message {
  font-size: 22px; 
}
ul.contact li i.icon-phone {
  font-size: 22px; 
  left: 28px;

}
ul.contact li i.icon-email {
  font-size: 12px; 
}
ul.contact li button:disabled{
  cursor:not-allowed;
}
ul.contact li button:disabled i, ul.contact li button:disabled h6{
color:#6d7278
}
ul.contact li a sup {
  font-size: 8px;
  top: -10px;
}

.listGrid {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.listViewIcon,
.gridViewIcon {
  display: inline-block;
  margin-left: 16px;
  width: 24px;
  height: 24px;
  position: relative;
  opacity:0.5
}

.listViewIcon.selected,
.gridViewIcon.selected {
  opacity: 1;
  cursor: default;
}

.listViewIcon span {
  height: 3px;
  width: 100%;
  background: #000;
  display: block;
  position: relative;
}

.listViewIcon span:before,
.listViewIcon span:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 10px;
}

.listViewIcon span:after {
  bottom: -20px;
  top: auto;
}

a.gridViewIcon span:first-child,
a.gridViewIcon span:last-child {
  position: absolute;
  width: 11px;
  height: 24px;
  display: block;
}

a.gridViewIcon span:last-child {
  left: auto;
  right: 0;
}

a.gridViewIcon span:before,
a.gridViewIcon span:after {
  width: 10px;
  height: 10px;
  border: 2px solid #6D6E71;
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
}

a.gridViewIcon span:after {
  bottom: 0;
  top: auto;
}
.outStockClr[data-val*="Out"]{
  color:#da291c;
}

.orgPrice{
  text-decoration: line-through;
      color: #787878;
      font-size: 14px;
      display: block;
      font-weight: 400;
  }



/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
  .listGrid, .sortBy, .sortListGrid {
    display:none;
  }
 
  .gridView .resultBlock  {
    margin: 0 2% 4%;
    width: 46%;
    padding: 8px;
}
.gridView c-dbu_homesubcategoryproduct{
  margin: 0 2% 4% !important;
  width: 46% !important;
}
}

@media (max-width: 479px) {}