.footerBotLinks {
    background-color: rgb(230, 231, 232);
    padding: 30px 0;
}

.footerBotLinks .slds-container_center {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.footerLinks {
    display: flex;
}

.footerLinks,
.footerLinks a {
    margin-bottom: 0;
}

.footerLinks a {
    color: #005587;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    padding: 0 15px;
}

.footerLinks a:after {
    content: "|";
    position: absolute;
    right: 0;
    top: 0;
}


.footerLinks a:last-child:after {
    display: none;
}


@media print {
    .footerBotLinks {
        display: none;
    }
}


/*Responsive Starts here*/
@media (max-width: 1024px) {
    .footerBotLinks { 
        padding: 30px 16px;
    }
    
.footerLinks a { 
    padding: 0 12px;
}
}

@media (max-width: 1023px) { 

    .footerBotLinks .slds-container_center {
        flex-direction: column ;
        text-align: center;
    }
    .footerLinks {
        flex-direction: column;
        text-align: center;
    }
    .footerLinks a {
        margin-bottom: 15px ;
    }
    .footerLinks a:after {
        display: none;
    }

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}