.THIS .tdWrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.THIS .cellAlign {
    text-align: center;
}

.THIS .boxingCSS {
    border: 1px solid grey;
    padding:0.5rem !important;
    margin:10px;
}
.THIS .my-icon {
    --sds-c-icon-color-foreground-default: red;
    --sds-c-icon-color-background: white;
}