.btn-clr {
    color: black;
    border: none;
    background-color: white;
  }
  .slds-is-open .btn-clr{
    color:#DA291C;
  }
  .dropDownCont {
    width: auto;
    left: auto;
    border: none;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .16);
    min-width: 180px;
    top: 26px;
    right: -138px;
    padding: 10px 0;
    margin: 0;
  }

  .dropDownCont li {
    line-height: 32px;
    font-weight: 400;
    padding: 6px 15px;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
    color: #000000;
    font-size:16px;
    display:flex;
    align-items:center;

  }

  .dropDownCont li:hover,
  .dropDownCont li.selected {
    background-color: #f8f8f8;
    padding-left: 38px;
    color:#005587;
  }

  .dropDownCont li i {
    position: absolute;
    left: 0;
    /* top: 9px; */
    font-size: 16px;
    opacity: 0;
    transition: all 0.4s;
    color:#005587;
    text-align:center;
    width:24px;

  }

  .dropDownCont li:hover i,
  .dropDownCont li.selected i {
    left: 13px;
    opacity: 1
  }

  .fillArrow{
    
    margin-left: 6px;
    position: relative;
    top: -2px;

  }

  .slds-is-open .fillArrow{
    transform: rotate(180deg);
  }

  .btn-clr:hover,
  .btn-clr:focus {
    border: none;
  }
  

.li_algn:hover a {
  padding-left: 6px;
  transition: all .4s;
  text-decoration: none;
}
.li_algn:hover .slds-button{
  padding-left:var(--sds-c-button-brand-spacing-inline-start, var(--lwc-spacingMedium,1rem));
}
.dropDownCont .signInBtn:hover {
  background: white ;
}

.signOut footer{
  border: none;
  text-align: center;
  padding-bottom: 30px;
}
.uname{ 
  font-size: 12px;
  position: absolute;
  top: -18px;
  left: 5px;
  text-transform: capitalize;
  color: #005587;
  white-space: nowrap;
}

/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
  .btn-clr {
    background-color: #efefef ;
    font-size: 18px;
    width: 100%;
    text-align: left; 
    color:#005587;
    position: relative;
} 
.btn-clr.loggedIn{
  padding: 26px 16px 8px 16px;
}
.btn-clr.guest{
  padding:16px;
}
  .uname {
    position: absolute;
    left: 16px; 
    top: 10px;
    color: #333; 
}

.dropDownCont {
  background: #F8F8F8;
}

.dropDownCont li,
  .dropDownCont li.selected {
    background-color: #f8f8f8;
    padding-left: 46px; 
  }
  .dropDownCont li i,
  .dropDownCont li.selected i {
    left: 13px;
    opacity: 1
  }

.fillArrow{
    
  position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;

}

.slds-is-open .fillArrow{
  transform: rotate(45deg );
}

}

@media (max-width: 479px) {}