.dummyClass {
    color: black;
}

.styleBtn {
    color: #004949 !important;
    background-color: #FFFFFF !important;
    display: block;
    padding: 1px 6px;
    border: 1px solid #000;
    border-radius: 3px;
}

.styleBtnDark {
    color: #FFFFFF !important;
    background-color: #004949 !important;
    display: block;
    padding: 1px 6px;
    border: 1px solid #000;
    border-radius: 3px;
}

.newSrvcReqStyleBtn {
    color: red !important;
    background-color: #FFFFFF !important;
    display: block;
    padding: 1px 6px;
    border: 1px solid red;
    border-radius: 3px;
}