.genuineParts{
    background-color: #F8F8F8; 
    padding:40px 0 50px 0
}
h1 {
    font-size: 32px;
    line-height: 40px;
    padding: 0 0 20px 60px;
    }
.footerBtn{
    padding-top:30px;
    text-align:center;
    display:block;
}
.footerBtn button{  
    padding: 0 2em;
}


/*Responsive Starts here*/
@media (max-width: 1024px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
    h1{
        padding: 0 0 16px 16px;
        font-size: 24px;
    }   

    h3{
        padding: 0 0 16px 16px;
        font-size: 24px;
    } .footerBtn{
        padding-top: 10px;
    }
    .footerBtn button{  
        width: calc(100% - 36px);
        padding: 0;
    }
}

@media (max-width: 479px) {}