.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: white;
    color: black;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -250px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.cartPage{
    min-height: 500px;
    margin-top: 30px;
}
h1,h4{
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}
.cartTitHeader {
    padding: 5px 0;
    background: #f4f4f4; 
    color: black;
    font-weight: 600; 
    margin-bottom:15px;
}
/*save for later CSS Begin- Malhar*/
.saveForLater{
    margin-top:50px;
}
.saveForLater_hyperlink{
    color: #005587; 
  display: flex;
    font-size: 16px;
margin-top:20px;
margin-bottom: 20px;
}

.saveForLater_label{ 
      font-weight: bold;  
      margin-top: 16px;
      display: inline-block;
  } 
.saveForLater_label:hover{
    text-decoration:underline;
}
.addtoCartTxt {
    color: #005587 ;
    margin-top: 16px;
    display: inline-block;
    font-weight: bold;
}
.addtoCartTxt:hover{
    color: #005587 ;
}
/*save for later CSS End- Malhar*/  

.cartItemRow{
    margin-bottom:15px;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom:15px;
}
.itemInfo img{
    margin-right:0.75rem;
}
.itemInfo p{
    /*color:#cccccc;*/
    margin-top:5px;
}
.itemInfo h6 {
    margin-bottom: 5px;
    font-weight:bold;
    font-size:16px;
}
.itemInfo .stockAvb {
    font-weight: bold;
    font-size:14px;
    max-width:84px;
    white-space:nowrap;
}
.itemInfo .storePick{

    display: inline-block;
    font-size:14px;
}
.itemInfo .storePick span{
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    vertical-align:top;
    display:block;
}
.itemInfo .storePick span:after {
    position: absolute;
    left: 6px;
    top: 8px;
    content: "";
    display: block;
    background: #ccc;
    width: 5px;
    height: 5px;
    border-radius: 50px;
}
.orderSummary {
    padding: 15px 35px;
    background: #f4f4f4;
    margin: 0 0 15px;
    color: #000; 
    box-shadow: 0 0 5px #ccc;
}
.orderSummary h5{
    font-size:18px;
    margin-bottom:15px;
    font-weight:bold;
}
.orderSummary ul li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px; 
}
.orderSummary ul li strong{
    font-size: 20px;
}
.orderSummary ul li span+span {
    text-align: right;
}
.applyCoupon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px 0;
}
.applyCoupon button {
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    min-width:auto;
}
.applyCoupon input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #fff;
}
.applyCoupon .error{
    border-color:#f00;
}
.couponApplied{
    margin: 15px 0 0px 0;
    font-size: 16px;
    color: #58595B; 
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
.couponApplied i{
    background: #0a8300;
    font-size: 6px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    margin-right: 5px;
    color: #fff;
    display: inline-block;
    line-height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-top: 3px;
    text-align: center;
}
.couponApplied a{
    color:#DA291C;
    margin-left: 10px;
}
.errorText {
    color:#f00;
}
.agree {
    margin: 15px 0;
    text-align:start; /* Aakriti CECI748 changed from center*/
}
.agree input{
    margin-right: 5px;
}
.agree .slds-checkbox{
    display: flex;
    justify-content: center;
}
.agree .slds-checkbox__label{
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Aakriti CECI748 changed from center*/
}
.agree .slds-form-element__label{
    font-size: 14px; /* Aakriti CECI748 changed from 16px*/
    padding: 0 5px 0 10px;
    margin: 0;
    color: #000 !important; /* Aakriti CECI748 added important*/
}
.buttons {
    display: flex;
}
.buttons button {
    width: 100%;
}


.amt{
    line-height: 44px;
}

.del{ 
    text-decoration:none;
    line-height: 44px;
}
.del a{
    text-decoration:none;
}
.del a i{ 
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 5px;
    line-height: normal;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: bold; 
}
.del a i:hover{
    
    background: #f2f6f9;
} 
 
.partialStockMessage{
    color: red;
    padding: 0 0 0 120px;
    font-size: 15px;
}
 
.btnLink{
    display:block;
    text-align:center;
    margin:10px 0;
    width: 100%;
}
.partialStockClr{
    color:#da291c;
}
.outStockClr[data-val*="In"]{
    color:#008000;
}
.outStockClr[data-val*="Out"]{
    color:#da291c;
}
.outStockClr[data-val*="Partial"]{
    color:#da291c;
}
.emptyCart{
    display:none;
}
.emptyCart.show{
    display:block;
}
.saveBtn{
    text-align:center;
}

.shippingprd {
    border-top: 1px solid #f4f4f4;
    margin-top: 14px;
    padding-top: 10px;
    }

.storepickLoc {
    margin-bottom: 15px;
}

.promoBlock {
    position: relative;
    padding-left: 25px;
    margin-top: 20px; /* Aakriti CECI748 changed from margin-bottom*/
    font-size: 14px;
}
.promoBlock img {
    width: 18px;
    position: absolute;
    left: 0;
    top: 3px;
}
/* Aakriti CECI691 start */
.tAndCText{ 
    margin-top: 20px; 
    font-size: 14px;
}
.tAndCText span{
    padding-right: 5px;
}
.agree .slds-checkbox__label .slds-checkbox_faux{
    margin-top: 4px;
}
/* Aakriti CECI691 start */
/*Aakriti CECI-693*/
.qtyError{
    color: red;
    font-size: 15px;
  }
  .qtyErrorMargin{
      margin-left: -2.5%;
      padding: 16px 0;
  }
  .qtyNotifyError{
      font-size: 14px;
      font-weight: bold;
      color: #da291c;
  }
/* CECI - 957 Start*/
  .sale-tag {
    align-items:center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
  }
  .itemInfo .sale-tag Img {
    margin-right: 5px;
  }
  .listProductPrice {
    font-size: 18px !important;
    margin:0 !important;
  }
  .listProductPrice strong {
    font-size: 16px;
    position: relative;
  }
  .listProductPrice strong span.originalPrice {
    font-size: 12px;
    color: #787878;
    text-decoration: line-through;
    display: block;
    line-height: normal;
    /* position: absolute;
    top: -16px; */
    float:right;
  }
  .listProductPrice .originalPrice {
    font-size: 12px;
    color: #787878;
    text-decoration: line-through;
    display: block;
    line-height: normal;
    font-weight: 700;
  }
  .listProductPrice .align-price span.discountTag{
    color: #3A8023;
    padding-left: 4px;
    font-size: 12px;
    font-weight: 700;
  }
  .align-price {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
  }
  /* CECI - 957 End*/
/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
    .cartPage .orderSummary {
        margin: 0 8px;
    }
    .emptyCart {
        padding: 0 16px;
    }

    h1{
        
    padding: 0 16px;
    } 
    .emptyCart h1 {
        padding: 0;
    }
    .saveForLater h4{
        padding:0 16px;
    }
    .saveForLater h4 + a{
        display:inline-block;
        margin-bottom: 16px;
        margin-left:16px;
    }
    .emptyCart {
        margin-bottom: 24px;
    }
    .orderSummary{
        padding: 15px ;
    }

    .cartItemRow .itemInfo > .slds-col+.slds-col {
        padding-left: 8px;
    }
    .cartItemRow  { 
        padding: 16px;
    }
    .partialStockMessage[c-dbu_cart_dbu_cart] {
        color: red;
        padding: 0 15px 10px 120px;
        font-size: 15px;
    }
    .tooltip .tooltiptext {
        visibility: hidden;
        min-width: 335px;
        max-width: 100%;
        background-color: white;
        color: black;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -128px !important;
        padding: 10px;
        border-width: 1px;
        border-style: solid;
      }
      .shippingprd h5 {

        width: 100%;
        margin-bottom: 10px;
        }
        .btnstore{
            width: 100%;
            margin-top: 10px;
        }
        .shippingprd h5 {
            width: 100%;
            }
        .storepickLoc{
            padding: 0  16px ;
            }    
}

@media (max-width: 320px) {

    .tooltip.tooltiptext {
    
    visibility: hidden;
    
    min-width: 297px;
    
    max-width: 100%;
    
    background-color: white;
    
    color: black;
    
    border-radius: 6px;
    
    position: absolute;
    
    z-index: 1;
    
    bottom: 100%;
    
    left: 50%;
    
    margin-left: -28px !important;
    
    padding: 10px;
    
    border-width: 1px;
    
    border-style: solid;
    
    }
    
    }

@media (max-width: 479px) {}