.featuredProducts {
    margin-bottom: 36px;
}
h3{
    padding: 0 0 20px 60px;
}

/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  

    h3  {
        padding: 16px;
        font-size: 20px;
        line-height: 20px;
    }

}

@media (max-width: 479px) {}