body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 10px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 11%;
    margin-top:10px;
    color:#005587;
    font-size: 14px;
    font-family: HelveticaNeue-Bold;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
    padding-right: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
.bar0 {width: 0%; height: 16px; background-color:#FAB914;}
.bar1 {width: 1%; height: 16px; background-color:#FAB914;}
.bar2 {width: 2%; height: 16px; background-color:#FAB914;}
.bar3 {width: 3%; height: 16px; background-color:#FAB914;}
.bar4 {width: 4%; height: 16px; background-color:#FAB914;}
.bar5 {width: 5%; height: 16px; background-color:#FAB914;}
.bar6 {width: 6%; height: 16px; background-color:#FAB914;}
.bar7 {width: 7%; height: 16px; background-color:#FAB914;}
.bar8 {width: 8%; height: 16px; background-color:#FAB914;}
.bar9 {width: 9%; height: 16px; background-color:#FAB914;}
.bar10 {width: 10%; height: 16px; background-color:#FAB914;}
.bar11 {width: 11%; height: 16px; background-color:#FAB914;}
.bar12 {width: 12%; height: 16px; background-color:#FAB914;}
.bar13 {width: 13%; height: 16px; background-color:#FAB914;}
.bar14 {width: 14%; height: 16px; background-color:#FAB914;}
.bar15 {width: 15%; height: 16px; background-color:#FAB914;}
.bar16 {width: 16%; height: 16px; background-color:#FAB914;}
.bar17 {width: 17%; height: 16px; background-color:#FAB914;}
.bar18 {width: 18%; height: 16px; background-color:#FAB914;}
.bar19 {width: 19%; height: 16px; background-color:#FAB914;}
.bar20 {width: 20%; height: 16px; background-color:#FAB914;}
.bar21 {width: 21%; height: 16px; background-color:#FAB914;}
.bar22 {width: 22%; height: 16px; background-color:#FAB914;}
.bar23 {width: 23%; height: 16px; background-color:#FAB914;}
.bar24 {width: 24%; height: 16px; background-color:#FAB914;}
.bar25 {width: 25%; height: 16px; background-color:#FAB914;}
.bar26 {width: 26%; height: 16px; background-color:#FAB914;}
.bar27 {width: 27%; height: 16px; background-color:#FAB914;}
.bar28 {width: 28%; height: 16px; background-color:#FAB914;}
.bar29 {width: 29%; height: 16px; background-color:#FAB914;}
.bar30 {width: 30%; height: 16px; background-color:#FAB914;}
.bar31 {width: 31%; height: 16px; background-color:#FAB914;}
.bar32 {width: 32%; height: 16px; background-color:#FAB914;}
.bar33 {width: 33%; height: 16px; background-color:#FAB914;}
.bar34 {width: 34%; height: 16px; background-color:#FAB914;}
.bar35 {width: 35%; height: 16px; background-color:#FAB914;}
.bar36 {width: 36%; height: 16px; background-color:#FAB914;}
.bar37 {width: 37%; height: 16px; background-color:#FAB914;}
.bar38 {width: 38%; height: 16px; background-color:#FAB914;}
.bar39 {width: 39%; height: 16px; background-color:#FAB914;}
.bar40 {width: 40%; height: 16px; background-color:#FAB914;}
.bar41 {width: 41%; height: 16px; background-color:#FAB914;}
.bar42 {width: 42%; height: 16px; background-color:#FAB914;}
.bar43 {width: 43%; height: 16px; background-color:#FAB914;}
.bar44 {width: 44%; height: 16px; background-color:#FAB914;}
.bar45 {width: 45%; height: 16px; background-color:#FAB914;}
.bar46 {width: 46%; height: 16px; background-color:#FAB914;}
.bar47 {width: 47%; height: 16px; background-color:#FAB914;}
.bar48 {width: 48%; height: 16px; background-color:#FAB914;}
.bar49 {width: 49%; height: 16px; background-color:#FAB914;}
.bar50 {width: 50%; height: 16px; background-color:#FAB914;}
.bar51 {width: 51%; height: 16px; background-color:#FAB914;}
.bar52 {width: 52%; height: 16px; background-color:#FAB914;}
.bar53 {width: 53%; height: 16px; background-color:#FAB914;}
.bar54 {width: 54%; height: 16px; background-color:#FAB914;}
.bar55 {width: 55%; height: 16px; background-color:#FAB914;}
.bar56 {width: 56%; height: 16px; background-color:#FAB914;}
.bar57 {width: 57%; height: 16px; background-color:#FAB914;}
.bar58 {width: 58%; height: 16px; background-color:#FAB914;}
.bar59 {width: 59%; height: 16px; background-color:#FAB914;}
.bar60 {width: 60%; height: 16px; background-color:#FAB914;}
.bar61 {width: 61%; height: 16px; background-color:#FAB914;}
.bar62 {width: 62%; height: 16px; background-color:#FAB914;}
.bar63 {width: 63%; height: 16px; background-color:#FAB914;}
.bar64 {width: 64%; height: 16px; background-color:#FAB914;}
.bar65 {width: 65%; height: 16px; background-color:#FAB914;}
.bar66 {width: 66%; height: 16px; background-color:#FAB914;}
.bar67 {width: 67%; height: 16px; background-color:#FAB914;}
.bar68 {width: 68%; height: 16px; background-color:#FAB914;}
.bar69 {width: 69%; height: 16px; background-color:#FAB914;}
.bar70 {width: 70%; height: 16px; background-color:#FAB914;}
.bar71 {width: 71%; height: 16px; background-color:#FAB914;}
.bar72 {width: 72%; height: 16px; background-color:#FAB914;}
.bar73 {width: 73%; height: 16px; background-color:#FAB914;}
.bar74 {width: 74%; height: 16px; background-color:#FAB914;}
.bar75 {width: 75%; height: 16px; background-color:#FAB914;}
.bar76 {width: 76%; height: 16px; background-color:#FAB914;}
.bar77 {width: 77%; height: 16px; background-color:#FAB914;}
.bar78 {width: 78%; height: 16px; background-color:#FAB914;}
.bar79 {width: 79%; height: 16px; background-color:#FAB914;}
.bar80 {width: 80%; height: 16px; background-color:#FAB914;}
.bar81 {width: 81%; height: 16px; background-color:#FAB914;}
.bar82 {width: 82%; height: 16px; background-color:#FAB914;}
.bar83 {width: 83%; height: 16px; background-color:#FAB914;}
.bar84 {width: 84%; height: 16px; background-color:#FAB914;}
.bar85 {width: 85%; height: 16px; background-color:#FAB914;}
.bar86 {width: 86%; height: 16px; background-color:#FAB914;}
.bar87 {width: 87%; height: 16px; background-color:#FAB914;}
.bar88 {width: 88%; height: 16px; background-color:#FAB914;}
.bar89 {width: 89%; height: 16px; background-color:#FAB914;}
.bar90 {width: 90%; height: 16px; background-color:#FAB914;}
.bar91 {width: 91%; height: 16px; background-color:#FAB914;}
.bar92 {width: 92%; height: 16px; background-color:#FAB914;}
.bar93 {width: 93%; height: 16px; background-color:#FAB914;}
.bar94 {width: 94%; height: 16px; background-color:#FAB914;}
.bar95 {width: 95%; height: 16px; background-color:#FAB914;}
.bar96 {width: 96%; height: 16px; background-color:#FAB914;}
.bar97 {width: 97%; height: 16px; background-color:#FAB914;}
.bar98 {width: 98%; height: 16px; background-color:#FAB914;}
.bar99 {width: 99%; height: 16px; background-color:#FAB914;}
.bar100 {width: 100%; height: 16px; background-color:#FAB914;}


* {
    box-sizing: border-box;
  }
  


.pro_header{
  font-size: 18px;
    font-style: HelveticaNeue-Bold;
    font-family: HelveticaNeue-Bold;
    font-weight: 600;

}
.para_adj{
  font-size: 14px;
  font-family: HelveticaNeue-Bold;
  font-weight: 600;
}

.hyper_reveiw{
  font-size: 14px;
    font-family: HelveticaNeue-Bold;
    color: #005587;
    text-decoration: none;
    border-bottom: 1px solid #005587 ;

}




.rate {
  
  height: 28px;
  /* padding: 0 10px; */
  display: flex;
  font-size: 24px;
    font-family: HelveticaNeue-Bold;
    font-weight: 600;
    margin:10px 0;
}

/*.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #FAB914;
  margin-top: -7px;
  padding-left: 5px;

}

.rate:not(:checked)>label:before {
  content: '★ ';
}



.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}*/



.star-ratingsOne{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 60px;
}
.fill-ratingsOne{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-POne{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 66.6px;
}
.fill-ratingsOne-POne{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PTwo{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 73.32px;
}
.fill-ratingsOne-PTwo{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PThree{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 79.98px;
}
.fill-ratingsOne-PThree{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PFour{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 86.64px;
}
.fill-ratingsOne-PFour{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PFive{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 97.3px;
}
.fill-ratingsOne-PFive{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PSix{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 99.96px;
}
.fill-ratingsOne-PSix{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PSeven{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 106.62px;
}
.fill-ratingsOne-PSeven{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsOne-PEight{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 113.28px;
}
.fill-ratingsOne-PEight{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PNine{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 119.94px;
}
.fill-ratingsOne-PNine{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 120px;
}
.fill-ratingsTwo{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-POne{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 145px;
}
.fill-ratingsTwo-POne{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo-PTwo{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 151.9px;
}
.fill-ratingsTwo-PTwo{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo-PThree{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 154.8px;
}
.fill-ratingsTwo-PThree{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo-PFour{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 157.7px;
}
.fill-ratingsTwo-PFour{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo-PFive{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 160.5px;
}
.fill-ratingsTwo-PFive{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo-PSix{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 164.4px;
}
.fill-ratingsTwo-PSix{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo-PSeven{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 167.7px;
}
.fill-ratingsTwo-PSeven{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo-PEight{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 173.7px;
}
.fill-ratingsTwo-PEight{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsTwo-PNine{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 179px;
}
.fill-ratingsTwo-PNine{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 197px;
}
.fill-ratingsThree{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-POne{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 207px;
}
.fill-ratingsThree-POne{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-PTwo{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 214px;
}
.fill-ratingsThree-PTwo{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-PThree{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 221px;
}
.fill-ratingsThree-PThree{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-PFour{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 224px;
}
.fill-ratingsThree-PFour{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-PFive{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 225px;
}
.fill-ratingsThree-PFive{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-PSix{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 232px;
}
.fill-ratingsThree-PSix{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-PSeven{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 238px;
}
.fill-ratingsThree-PSeven{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-PEight{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 240px;
}
.fill-ratingsThree-PEight{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsThree-PNine{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 243px;
}
.fill-ratingsThree-PNine{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFour{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 260px;
}
.fill-ratingsFour{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-POne{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 275px;
}
.fill-ratingsFour-POne{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PTwo{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 280px;
}
.fill-ratingsFour-PTwo{
  color:#FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFour-PThree{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 285px;
}
.fill-ratingsFour-PThree{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFour-PFour{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 287px;
}
.fill-ratingsFour-PFour{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFour-PFive{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 290px;
}
.fill-ratingsFour-PFive{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PSix{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 293pxpx;
}
.fill-ratingsFour-PSix{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFour-PSeven{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 296px;
}
.fill-ratingsFour-PSeven{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFour-PEight{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 299px;
}
.fill-ratingsFour-PEight{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFour-PNine{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 304px;
}
.fill-ratingsFour-PNine{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFive{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 310px;
}
.fill-ratingsFive{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.fill-ratingsFour-PNine{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsFive{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 310px;
}
.fill-ratingsFive{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}
.star-ratingsZero{
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 30px;
  width: 0px;
}
.fill-ratingsZero{
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}



.empty-ratings{
padding: 0;
display: block;
z-index: 0;

}
.rating_align{
  line-height: 35px;
  padding-left:15px;
}
span{
  display:inline-block
}
.bar1{
  padding: 0%;
}