.product_Details {
  padding: 0 70px;
  min-height: 640px;

}

.productDetail_Height {
  height: 640px;
}

.productAlignment {
  margin: 15px 0;
  font-size:14px;
}

.shippingHideaTag a{
  text-decoration: none !important;
  }

.productAlignment a {
  vertical-align: middle;
  font-weight: 700;
}

.productDetail_Combo.color,
.productDetail_Combo.size {

  width: 110px;
}

.prod_ShareIcon {
  height: 24px;
  position: absolute;
  right: 0;
  display: none;
}

.partAvailInput {
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partAvailInput .error {
  color: #f00;
  margin: 0 0 10px 0;
  display: block;
}

.partAvailInput .slds-button_destructive {
  
  min-width: 220px;
}
 

.span_instock {
  padding-left: 20px;
  margin-top: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;

}

.inputAlign {
  margin-bottom: 15px;
}

.spanLowstock {
  padding-left: 20px;
  margin-top: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 700;


}

.productFlex .labelRClr[data-val*="Out"] {
  color: #da291c;
  white-space: nowrap;
}

.productFlex {
  display: flex;
  align-items: flex-start;
}

.kitItemLink a {

  color: #005587;
}

.labelRClr {
  color: red !important;
}

.labelBCLr {
  color: #005587 !important;

}

.labelWClr {
  color: #6D6E71;

}

.quantityCombo {
  width: 60px;
}

.pt_5 {
  padding-top: 5px;
}

.pr_5 {
  padding-right: 5px;
}

.productLabel {
  padding: 0 5px;
}

.product_ValueCombo {
  width: 60px;
}

.main_prod {
  display: flex;
}

.placeholder {
  border: 1px solid red;
  font-size: 14px;
  color: black;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;

}

.priceborder {
  display: flex;
}

.sup_edit {
  color: red;
}

.prod_child {
  padding-left: 5px;
  font-size: 12px;
  color: #212121;
  padding-top: 3px;
}

.prod_namealign {
  font-size: 16px;
  color: black;
}

.main_prod {
  padding-top: 25px;
}

.icon_wishlist {
  height: 21px;
  width: 27px;
  font-size: 16px !important;
}

.customer_wrap {
  margin: 50px 0;
  background: #F8F8F8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.customer_details {

  width: 40%;
  margin-left: 120px;
  margin-right: 50px;
}

.product_wrap {
  background: #F8F8F8;
  /* padding: 26px; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.product_Details h1 {
  font-size: 24px;
  font-weight: 700;
}

.product_Details h5 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}
.priceSection{
  margin-top: 20px;
  margin-bottom: 20px;
}

.prodPrice {
  font-weight: 700;
}
.sale-tag {
  display:flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  padding-bottom: 9px;
  padding-left: 50px;
}
.sale-tag img {
  width: 13px;
  height:13px;
  margin: 0 4px 0 0;
}
.pricelabel {
  padding-right: 16px;
  font-weight: 600;
  display: inline-block;
  width: 50px;
}

.prodPrice div.priceDetail {
  font-size: 20px;
  color: #DA291C;
  font-weight: 600;
  display: inline-block;
  line-height: 24px;
}

.prodPrice div.priceDetail span.originalPrice {
  font-size: 16px;
  color: #787878;
  text-decoration: line-through;
  line-height: normal;
  padding-left:8px;
}
.discPrice{
  color: #3a8023;
  font-size: 16px;
  padding-left: 8px
}
.prodPrice div .online-price{
  color: #333;
  font-style: italic;
  margin-top: 8px;
  font-weight: 400;
  margin-bottom:0px;
  font-size: 12px;
  padding-left: 50px;
  padding-right: 8px;
}

.size_maindrp {
  position: absolute;
  right: 420px;
  top: 141px;
}
/* Sasikanth-core product promotion Start*/
.core-container {
  background: #F4F4F4;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  width: 130px;
  height: 28px;
}
.align-core{
  position:relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor:default;
}
.ad-disc{
  font-family: 'Helvetica Neue';
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}
.info-tag {
  
  /* display:flex; */
  /* font-weight: 400;
  font-size: 12px;
  line-height: 14px; */
  /* color: #333333; */
}
.info-tag img {
  width: 13px;
  height:13px;
  margin: 0 4px 0 0;
}
.close-tag img {
  /* position: absolute; */
  visibility:collapse;
  /* top: 10px;
  right: 8px;
  width: 9px;
  height: 9px;
  margin: 0 4px 0 0; */
}
.align-core .discount-tooltip {
  visibility: hidden;
  position:absolute;
  /* left:140px;
  bottom:-8px; */
  left: 145px;
  bottom: -14px;
  background-color: #ffffff;
  border: 1px solid #4F4F4F;
  width: 12rem;
}
.slds-button_icon-small, .slds-button--icon-small {
  width: 0;
  height: 0;
}
.align-core:hover .discount-tooltip{
  visibility: visible;
}
.slds-popover__close {
  position: relative;
  margin: 0;
  z-index: 6001;
}
.slds-nubbin_left:after, .slds-nubbin--left:after {
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  background-color: inherit;
  top: 50%;
  left: -6px;
  margin-top: -6px;
  box-shadow:0px 0px 0px 0 rgb(0 0 0 / 16%);
  border-bottom: 1px solid #4f4f4f;
  border-left: 1px solid #4f4f4f;
}
.slds-nubbin_left:before {
  display:none;
  width:0;
  height:0;
}
.slds-popover__body {
  font-size: 14px;
  color: #4F4F4F;
  font-weight: 400;
  padding: 6px 8px;
  line-height: initial;
}
.slds-nubbin_bottom-left:after, .slds-nubbin--bottom-left:after, .slds-nubbin_bottom-left-corner:after {
  top: 100%;
  margin-top: -26px;
  border-bottom: 1px solid #4f4f4f;
  border-left: 1px solid #4f4f4f;
  left: 0px;
  box-shadow:0px 0px 0px 0 rgb(0 0 0 / 16%);
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  background-color: inherit;
  bottom: -0.5rem;
  margin-left: -6px;
}

.slds-popover_tooltip .slds-popover__body, .slds-popover--tooltip .slds-popover__body {
  font-size: 14px;
  color: #4F4F4F;
  font-weight: 400;
  padding: 6px 8px;
  line-height: initial;

}
.slds-nubbin_bottom-left:before {
  display:none;
  width:0;
  height:0;
}
/* Sasikanth- core product promotion end */
.wishlist_hyperlink {
  display: flex;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;

  align-items: center;
}

.svg_heart {
  fill: white;
  stroke: #6D6E71;
  cursor: pointer;
}

.wish_label {
  line-height: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #005587;
}
.CanadaDisclaimer{
  font-size: 18px!important;
  font-weight: bold!important;
}
.wish_label i {
  color: #6D6E71;
  font-size: 20px;
  vertical-align: bottom;
  margin-right: 6px;
}

.wish_label:hover i,
.wish_label i.icon-heart-select {
  color: #DA291C;
}

.avalible_msg {
  display: flex;
  font-weight: 600;
  color: #000;
  font-size: 16px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.avalible_msg>div {
  padding-right: 25px;
  position: relative; 
  max-width: 50%;
}

.avalible_msg>div:nth-child(2n):before {
  background: #B0B0B0;
  width: 5px;
  height: 5px;
  display: block;
  content: "";
  border-radius: 50px;
  position: absolute;
  left: -13px;
  top: 9px;
}

.cart_btn {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rating_wrap {
  /* margin:10px 0; */
  padding-top: 15px;
}

/* .rating{
    display: flex;
    padding-top: 20px;
} */
.crateEngineError {
  /* margin: 16px 0; */
  width: 100% !important;
  /* margin-bottom: 16px; */
}
.vinSearchBlock{		
  width: 100%;		
}		
.vinSearchBlock p {		
  color: #414042;		
}		
.vinSearchBlock .error {		
  color: #DA291C;		
  margin-right: 10px;		
}
.esnSearchBlock {
  /* margin: 16px 0; */
  width: 50%;
  /* margin-bottom: 16px; */
}

.esnSearchBlock p {
  color: #414042;
}

.esnSearchBlock .slds-form-element__control {
  margin: 10px 0;
}

.esnSearchBlock a {
  font-size: 14px;
}

.esnSearchBlock .error {
  color: #DA291C;
  margin-right: 10px;
}

.esnSearchBlock .errorField {
  border-color: #da291c;
}

.esnSearchBlock .input_align {
  font-family: 'Helvetica Neue';
}

.esnSearchBlock button {
  margin-bottom: 10px;
}

.esnPopup p {
  margin-bottom: 20px;
}

.esnPopup footer {
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.esnPolicy p {
  margin-top: 20px;
  text-align: justify;
}

.headingSection p {
  /* width: 386px; */ 
}

.inisderating {
  padding-right: 10px;
  font-size: 14px;
  color: #005587;
  /*border-bottom: 1px solid #005587;*/
}

.popup_wishlist {
  position: relative;
  top: 10px;
  color: rgb(0, 85, 135);
  font-size: 18px;
  font-weight: 600;

}

.prod_review {
  position: relative;
  right: 123px;


}

.rating_link {
  border-bottom: 1px solid #005587;
  text-decoration: none;
}

.kit_wrap {
  display: flex;
  font-size: 14px;
  font-weight: 600;
}

.quantity_wrap {
  display: flex;
}

.drpdwn_wrp {
  width: 50%;
}

.dropdown_instock {
  display: flex;
  align-items: center;

}

.prodOverview {
  font-size: 16px;
  line-height: 2px; 
  margin-bottom: 10px;
}

.prodOverview .poCont {
  font-size: 16px;
  color: #000000;
  margin-top: 15px;
}

.prod_spec {
  margin-bottom: 10px;
}

.span_align {
  padding-top: 10px;
  font-size: 14px;
  color: black;
}

.specific {
  font-size: 18px;
  font-weight: 600;
  /* padding-bottom: 25px; */
  margin-bottom: 15px;
}

.instock_input {
  width: 74px;
  /* margin-bottom:15px */
}


.rate {

  height: 28px;
  /* padding: 0 10px; */
  display: flex;
  font-size: 24px;
  font-weight: 600;
  max-width: 235px;
  min-width: 23F5px;
  line-height: 18px;
}

.star-ratingsOne {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 40px;
}

.fill-ratingsOne {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-POne {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 55px;
}

.fill-ratingsOne-POne {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PTwo {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 57px;
}

.fill-ratingsOne-PTwo {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PThree {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 59px;
}

.fill-ratingsOne-PThree {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PFour {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 63px;
}

.fill-ratingsOne-PFour {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PFive {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 67px;
}

.fill-ratingsOne-PFive {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PSix {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 70px;
}

.fill-ratingsOne-PSix {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PSeven {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 72px;
}

.fill-ratingsOne-PSeven {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PEight {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 76px;
}

.fill-ratingsOne-PEight {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsOne-PNine {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 78px;
}

.fill-ratingsOne-PNine {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 80px;
}

.fill-ratingsTwo {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-POne {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 99px;
}

.fill-ratingsTwo-POne {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-PTwo {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 103px;
}

.fill-ratingsTwo-PTwo {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-PThree {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 106px;
}

.fill-ratingsTwo-PThree {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-PFour {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 109px;
}

.fill-ratingsTwo-PFour {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-PFive {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 110px;
}

.fill-ratingsTwo-PFive {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-PSix {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 113px;
}

.fill-ratingsTwo-PSix {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-PSeven {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 115px;
}

.fill-ratingsTwo-PSeven {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-PEight {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 117px;
}

.fill-ratingsTwo-PEight {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsTwo-PNine {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 120px;
}

.fill-ratingsTwo-PNine {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 125px;
}

.fill-ratingsThree {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-POne {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 141px;
}

.fill-ratingsThree-POne {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-PTwo {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 144px;
}

.fill-ratingsThree-PTwo {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-PThree {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 148px;
}

.fill-ratingsThree-PThree {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-PFour {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 150px;
}

.fill-ratingsThree-PFour {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-PFive {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 152px;
}

.fill-ratingsThree-PFive {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-PSix {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 155px;
}

.fill-ratingsThree-PSix {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-PSeven {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 158px;
}

.fill-ratingsThree-PSeven {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-PEight {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 161px;
}

.fill-ratingsThree-PEight {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsThree-PNine {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 163px;
}

.fill-ratingsThree-PNine {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 172px;
}

.fill-ratingsFour {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-POne {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 182px;
}

.fill-ratingsFour-POne {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PTwo {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 186px;
}

.fill-ratingsFour-PTwo {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PThree {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 189px;
}

.fill-ratingsFour-PThree {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PFour {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 191px;
}

.fill-ratingsFour-PFour {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PFive {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 194px;
}

.fill-ratingsFour-PFive {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PSix {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 197px;
}

.fill-ratingsFour-PSix {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PSeven {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 198px;
}

.fill-ratingsFour-PSeven {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PEight {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 201px;
}

.fill-ratingsFour-PEight {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFour-PNine {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 206px;
}

.fill-ratingsFour-PNine {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}

.star-ratingsFive {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 215px;
}

.fill-ratingsFive {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}



.star-ratingsZero {
  unicode-bidi: bidi-override;
  color: #ccc;
  position: relative;
  font-size: 20px;
  width: 0px;
}

.fill-ratingsZero {
  color: #FAB914;
  position: absolute;
  z-index: 1;
  display: block;
  overflow: hidden;
  background-color: fff;
  width: 40%;
}



.empty-ratings {
  padding: 0;
  display: block;
  z-index: 0;

}

.slds-modal__header {
  border: none;
  text-align: left;
  padding: 20px 40px;
}

.slds-modal__header h2 {
  font-size: 32px;
  font-weight: bold;
}

.slds-modal__content {
  padding: 0 40px;
}

.quantity_popup {
  justify-content: space-between;
  display: flex;


}

.popup_pricelist label {
  display: block;
  color: #414042;
  margin-bottom: 5px;
}

.Price_popup {
  padding-left: 10px;
  padding-top: 26px;
  display: flex;
}

.wrap_popup {
  border: 1px solid #989898;
  background: #f8f8f8;
  /* padding: 20px; */
  /* margin-bottom: 15px; */
  border-radius: 3px;
  align-items: center;
}

.wrap_popup .itemNamePop {
  position: relative;
  align-items: center;
}

.coreQty span {
  margin-left: 0;
    min-width: 70px;
    text-align: center;
}

.wrapAlignment {

  margin-bottom: 15px;
  /* border-bottom: 1px solid #c7c7c7; */
  padding-bottom: 15px;
  align-items: center;
  padding: 0 20px;
  margin-top: 15px;
}

.itemNamePop {
  display: flex;

}

.itemNamePop img {
  min-width: 76px;
  min-height: 76px;
  max-width: 76px;
  max-height: 76px;
  object-fit: contain;
  margin-right: 15px;
  background: #fff;
  border-radius: 3px;
}

.itemNamePop span {
  font-weight: bold;
  color: #000;

}

.itemNamePop p {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
}

.btn_popup {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.btn_popup .slds-button {
  width: 190px;
}

.btn_popup .slds-button+.slds-button {
  margin-left: 24px;
}

.clk_btn {
  margin-right: 25px;
  height: 44px;
  border: 1px solid #025F92;
  color: #025F92;
  background: white;
}

.clk_btn_proceed {
  height: 44px;
  border: 1px solid #025F92;
  color: white;
  background: #005587;
}

/*notify popup*/
.popup_image {
  background-image: url(/sfsites/c/resource/1597746847000/cloudMVP/images/InjectorwithBox.png);
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat; 
  width: 100%;
  border-radius: 6px;
  color: white;
  padding: 16px;

}

.svg_clr {
  fill: white;
}

.part_avail {
  font-size: 20px;
  margin-bottom: 20px;
}

.cross_btn {
  width: 2rem;
  height: 2rem;
  float: right;
}

.nofityMeBtn {
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.notify_label {
  min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_sign {

  position: relative;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  border-bottom: 2px solid #d4d4d4;
  padding: 1rem;
  text-align: center;
}

/* .input_align{
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding-top: 10px;
} */
.popup_text {

  height: 25px;
  background: hsla(0, 0%, 100%, .95) 0 0 no-repeat padding-box;
  opacity: 1;

  padding-left: 20px;
  padding-right: 20px;
  color: #898989;
  font-size: 16px;
  outline: none;
  border: none;
  display: block;
  line-height: 1.2em;

}

.full-input .popup_text {
  display: inline-block; 
  border: 1px solid rgba(1, 59, 115, .3);
  border-radius: 3px;
  background: white;
  margin: 15px 0;
  height: 44px;
  
  min-width: 220px;
}
 

.btn_notify {
  display: flex;
  justify-content: center;  
}

.center_align {
  margin-top: 16px;
  text-align: center;
}

.label_txt {
  /* display: block; */
  font-size: 12px;
  color: black;
  text-align: initial;
  font-size: 14px;
  font-weight: 600;
}

/*Specifications*/
.spec-section {
  margin: 15px 0;
}

.spec-section span {
  display: block;
  color: #6D6E71;
}

.spec-section .slds-col {
  min-width: 50%;
  width: 50%;
  margin-bottom: 15px;
}



.modal_popupalign {
  width: 1089px;
  max-width: 1089px;
  min-width: 1089px;
  height: 614px;
}

.prodImageBlock {
  position: relative;
}

.esnCont h6 {
  margin: 16px 0;
  font-size: 16px;
}

.esnCont .slds-form-element {
  padding-right: 1rem;
}

.esnCont .slds-form-element__row {
  margin-bottom: 20px;
}

.esnCont .slds-form-element__row:last-child {
  margin-bottom: 0px;
}

.esnPopup .slds-modal__header {
  background: #da291c;
  height: 158px;
}
.locatePopup .slds-modal__header{
  background: #da291c;
  height: 158px;
}
.esnPopup h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.esnPopup .slds-modal__header img {
  width: 50px;
}
 .locatePopup .slds-modal__header img {
  width: 50px;
}

.esnPopup .slds-modal__header p {
  color: #fff;
  margin-top: 15px;
  font-size: 20px;
}
.locatePopup  .slds-modal__header p {
  color: #fff;
  margin-top: 15px;
  font-size: 20px;
}


.esnPopup .slds-modal__content a {
  margin-left: 5px;
  font-size: 16px;
}

.esnPopup footer {
  text-align: center;
}

.esnLink {
  border-bottom: 0.5px solid #B0B0B0;
  padding-bottom: 20px;
}

.longDesc .slds-p-around_medium {
  min-height: 450px;
}

.longDesc h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.longDesc .slds-modal__footer {
  text-align: center;
}

.hyperLinks {
  line-height: 30px;
}

.agreeLabel {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
i.icon-close {
  padding: 5px; 
  border-radius: 50px;
  height: 34px;
  width: 34px;
  display: block;
  line-height: 24px;
  cursor:pointer;
  color:#fff;
  line-height: 34px;

}

.locatePopup .slds-notify__close{
  top: 0;
  right: 0;
  transform: none;

}
/* .hyperLinks a{
text-decoration: none;
} */
.zoomPopupLink {
  position: absolute;
  right: 13%;
  font-size: 20px;
  color: rgb(54 54 54 / 80%);
  top: 10px;
  text-decoration: none;
}

.zoomPopupLink:hover {
  color: #000
}

.zoomPopupWindow .slds-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoomPopupWindow .slds-modal__header {
  border: none;
}
.locatePopup h5, p{
margin-bottom:20px;
margin-top:20px;
}
.locateImg{
  display:flex;
  justify-content: center;
  margin-bottom:20px;
}
.locateImg img{
  padding-bottom: 20px;
  padding-top: 20px;
}
.locatePopup a{
  color: #da291c;
  text-decoration: none;
}
.spinnerSmall {
  margin-left: 5px;
}

.spinnerSmall.wishlist {
  width: 14px;
  height: 14px;
  border-color: #c23934;
  border-top-color: #f2f2f2;
  margin-left: 5px;
  vertical-align: middle;
}

.loaderPage {
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  width: 100px;
  height: 100px;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 500;
  border-radius: 10px;
  box-shadow: 0 0 15px #ccc;
  margin: -50px 0 0 -50px;
}

.loaderIcon {
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  border-top: 5px solid #da291c;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}


/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.frequentBrought {
  margin-bottom: 50px;
}

.fbList {
  margin: 20px 0;
}

.fbList img {
  max-width: 56px;
  max-height: 56px;
  border: 1px solid #939598;
  margin: 0 10px;
  padding: 5px;
  border-radius: 3px;
  min-width: 56px;
  min-height: 56px;
  object-fit: contain;
}

.fbList span {
  font-size: 16px; 
}
.fbList .slds-checkbox .slds-checkbox_faux{
  
  min-width: 16px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.price strong {
  font-size: 24px;
  color: #DA291C;
  margin-left: 5px;
}

.coreChargeSec {
  margin-bottom: 24px;
  font-size: 16px;
}

.coreChargeSec strong {
  display: block;
}
.warrentBlock h6{
  margin:24px 0 16px 0;
  }
  .warrentBlock p{
    margin-bottom:24px;
    }

/*Aakriti CECI-693*/
.qtyNotify{
  padding-left: 20px;
  margin-top: 10px;
}
.qtyNotify::before{
  content: '|';
  color: grey;
  padding-right: 20px;
}
.qtyError{
  color: red;
  font-size: 15px;
}
.qtyInputError .slds-form-element__control .slds-input{
  border-color: #da291c !important; 
}

/*Responsive Starts here*/
@media (max-width: 1024px) {}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
  /* Sasikanth core product promotion start */
.slds-popover_tooltip .slds-popover__body, .slds-popover--tooltip .slds-popover__body {
  position:relative;
  font-size: 14px;
  color: #4F4F4F;
  font-weight: 400;
  padding: 6px 14px;
  line-height: initial;
}
.slds-popover__body {
  position:relative;
  font-size: 14px;
  color: #4F4F4F;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom :6px;
  line-height: initial;
  /* padding: 6px 14px; */

}
.close-tag img {
  position: absolute;
  visibility:inherit;
  top: 10px;
  right: 8px;
  width: 9px;
  height: 9px;
  margin: 0 4px 0 0;
}
.align-core .discount-tooltip {
  visibility: hidden;
  position: absolute;
  left: -18px;
  bottom: -62px;
  background-color: #ffffff;
  border: 1px solid #4F4F4F;
  width: 13.2rem;
}
.slds-button__icon {
  width:9px;
  height:9px;
}
.slds-button_icon-small, .slds-button--icon-small {
  width: 9px;
  height: 9px;
}
.slds-nubbin_left:after, .slds-nubbin--left:after {
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  background-color: inherit;
  top: 50%;
  left: 30px;
  margin-top: -28px;
  box-shadow:0px 0px 0px 0 rgb(0 0 0 / 16%);
  border-top: 1px solid #4f4f4f;
  border-left: 1px solid #4f4f4f;
  border-bottom: 0;
}
.align-core .slds-nubbin_bottom-left:after, .slds-nubbin--bottom-left:after, .slds-nubbin_bottom-left-corner:after {
  top: 100%;
  margin-top: -51px;
  border-top: 1px solid #4f4f4f;
  border-left: 1px solid #4f4f4f;
  border-bottom: 0;
  left: 41px;
  box-shadow:0px 0px 0px 0 rgb(0 0 0 / 16%);
  width: 10px;
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  background-color: inherit;
  margin-left: -6px;
}
  .product_Details {
    padding: 0 16px;
  }

  .product_Details h1 {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  .esnSearchBlock {
    width: auto;
  }

  .avalible_msg { 
    flex-direction: column;
  }

  .avalible_msg>div {
    padding: 0;
    margin-top: 16px; 
    min-width: 100%;
    width: 100%;
  }

  .avalible_msg>div:nth-child(2n):before {
    display: none;
  }

  .prodContTop .modal_popupalign {
    width: auto;
    min-width: auto;
    height: 100%;
  }

  .slds-modal__header {

    padding: 16px;
  }

  .slds-modal__header h2 {
    font-size: 24px;
  }

  .slds-modal__content {
    padding: 0 16px;
  }
  c-dbu_product-detail-images{
    width:100%
  }
.zoomPopupWindow .slds-modal__content {
  padding:0;
  justify-content: center;
}

  .wrap_popup .itemNamePop {
    width: auto;
  }

  .itemNamePop span {
    font-size: 16px;
    display: block;
  }

  .wrapAlignment {
    flex-direction: column;
    align-items: flex-start;
  }
  .popup_pricelist label+strong {
    line-height: 44px;
    display: inline-block;
}

  .quantity_popup {
    width: 100%;
    margin-top: 16px;
    justify-content: flex-start;
  }
  .btn_popup{
    
    display: flex;
    flex-direction: column-reverse;
  }
  .btn_popup .slds-button { 
    width: 100%;
  }
  .btn_popup .slds-button+.slds-button  {
    margin:16px 0 0 0 ; 
  }

  .wrapAlignment:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  .zoomPopupLink {right: 0;
    top: 0;
    padding: 0 0 5px 5px;
  }

  .esnCont .slds-form-element__row {
    margin: 0;
  }

  .esnCont .slds-form-element {
    padding-right: 0.25rem;
    padding-bottom: 0.75rem;
  }
  .addToCartBtn {
    width: 100%;
}
.spec-section  .slds-col  {
  min-width: 100%;
  width: 100%;
}
.longDesc .slds-p-around_medium {
  min-height: calc(100% - 70px);
}

.headingSection  p {
  width:auto;
}
.popup_pricelist {
  margin-left: 24px;
}
.popup_pricelist label {
  line-height: 18px;
  padding-top: 0.25rem;
}


.fbList label {

  display: flex;
  align-items: center;}

.fbList.slds-checkbox [type="checkbox"]+.slds-checkbox__label .slds-form-element__label{

  display: flex;
  align-items: center;}


}

@media (max-width: 374px) {
  .prodPrice strong {
      font-size: 20px; 
  }
  .prodPrice p  { 
    font-size: 14px;
  }
}