.alertTop{
    position: relative; 
    background: #da291c;;
    width: 100%;  
    min-height: 56px; 
     font-weight:bold;

}
i.icon-close {
    padding: 5px; 
    border-radius: 50px;
    height: 34px;
    width: 34px;
    display: block;
    line-height: 24px;
    cursor:pointer;
}
i.icon-close:hover { 
    background: rgba(255,255,255,.1); 
}
@media print {
    .alertTop{
        display:none;
    }
}

/*Responsive Starts here*/
@media (max-width: 1024px) { 
    
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {
    .alertTop {font-size: 14px;
        min-height: auto;
        text-align: left;
        padding: 1rem 3rem 1rem 1rem;
    }
    .slds-notify_alert .slds-notify__close{
        top:0;
        right:0;
        transform:none;
    }
    i.icon-close[c-dbu_headerDisplayBanner_dbu_headerDisplayBanner] {  
        height: 44px;
        width: 44px; 
        line-height: 34px; 
        text-align: center;
    }
}

@media (max-width: 479px) {}