.THIS .slds-form-element__help {
  margin-top:0px !important;
}

.THIS table.tableslds{
   border: 2px solid #A4DE02;
   border-radius: 5px;
}

.THIS hr.newColor {
border-top: 1px solid blue;
margin:19px;
}

.THIS #table-scroll {
max-height:250px;
overflow:auto;  
margin-top:20px;
}

.THIS .compWidth {
  width:50%;
}