.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    background-color: white;
}
.THIS .boxingCSS {
    border: 1px solid grey;
    padding:1.25rem !important;
}
.THIS .wk_success {
    background : #04844B !important;
}
.THIS .mleft {
    margin-left: 10px !important;
    }