nav.breadCrumbs{
    padding:0;
}
.siteMap{
    min-height: 500px;
    padding-left: 5%;
    padding-right: 5%;
  }

  h2 {
    margin-bottom: 22px;
}
h5{
    margin-bottom: 8px;
}
h6 {
    margin-bottom: 8px;
}
h2+h5 {
    margin-bottom: 22px;
}
.smBlock{
    margin-bottom:34px;
    border-bottom:1px solid #dddddd;
}

.smBlock .slds-col{
    margin-bottom: 34px;
}
.smBlock.no-border{
    border:none;
}
.smList{
    line-height: 24px;
}
.smList a {
    display: block;
}

/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}

@media (max-width: 767px) {  
    .smBlock{ 
        border-bottom:none;
        margin-bottom: 0;
    } 
    .smBlock .slds-col{
        border-bottom:1px solid #dddddd;
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
}

@media (max-width: 479px) {}