h3{
  padding: 30px 0 20px 60px;
    color: #fff;
}
.shopByBrand { 
  margin: 0;
  height: 360px;
  position: relative;
}
.shopByBrand > img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 10;
}
.shopByBrand .overlay {
display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    background: rgb(80,131,161);
    background: linear-gradient(130deg, rgba(80,131,161,0.7) 0%, rgba(80,131,161,0) 59%);}
.shopByBrand .slds-container_center{
  position:relative;
  z-index:12;
}

.sbbList{
  margin:0 50px;
}
.sbbList a {
  width: 100%;
  display: flex;
  border-radius: 6px;
  background: #fff;
  margin-bottom: 1.5rem;
  padding: 20px;
  min-height: 100px;
  align-items: center;
  text-align: center;
  justify-content: center; 
}
.sbbList a img {
  max-height: 60px;
  max-width: 240px;
  transition: all 0.4s;
}
.sbbList a:hover img {
  transform: scale(1.1);
}
.cumminsImg{
  max-width:100% !important;
}
.caSbbList > div:nth-child(4), .caSbbList > div:nth-child(5), .caSbbList > div:nth-child(6), .caSbbList > div:nth-child(7) {
  width: 25%;
}

/*Responsive Starts here*/
@media (max-width: 1024px) { 
  .cookiesPolicy{
      padding:1rem;
  }
  .cookies_header, .btn_cookies {
      margin: 0;
  }
}

@media (max-width: 1023px) {
  
  .sbbList .slds-col img {
    min-width: 100% !important;
    max-width: 100% !important; 
    object-fit: contain;
}
}

@media (max-width: 767px) {
  h3{
    padding:30px 0 20px 16px;
  }
  .sbbList{
    margin:0 6px;
  }
  .sbbList .slds-col, .caSbbList > div:nth-child(4), .caSbbList > div:nth-child(5), .caSbbList > div:nth-child(6) {
    width:50%;
  }
  .caSbbList > div:nth-child(7){
    width:100%;
  }
  .shopByBrand{
    height:auto;
  }
}

@media (max-width: 479px) {}