.dealsWidg{ 
    padding:40px 0 50px 0
}
h3{
    padding: 0 0 20px 60px;
}
.footerBtn{
    padding-top:30px;
    text-align:center;
    display:block;
}
.footerBtn button{  
    padding: 0 2em;
}

@media (min-width: 1024px) {
    .icon-left-arrow, .icon-right-arrow{
        display: none !important;
    }
}