.cartTitHeader {
  padding: 5px 0;
  background: #f4f4f4; 
  color: black;
  font-weight: 600;
  font-size: 16px;
  margin:0 0 25px 0;
  white-space: nowrap !important;
}

.cartItemRow{
  margin-bottom: 15px;
  border-bottom: 1px solid #C7C7C7;
  padding-bottom: 15px;
  font-size: 16px;
}
.qty{
  text-align: center;
}
.amt{
  text-align:center;
}
.cartItemRow:last-child{
  border:none;
}
.itemInfo img{
  margin-right:0.75rem;
}
.itemInfo p{
  color:#cccccc;
  margin-top:5px;
}

h2{
  font-size: 24px;
}

h2.tit{
  font-size: 24px;
  font-weight:bold;
  margin-bottom:15px;
}
h6{
  padding:16px;
}



@media print {
  a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

 
  .cartTitHeader{
      background-color:#f4f4f4 !important;
      -webkit-print-color-adjust: exact; 
      font-size: 12px !important;
      display:flex !important;
  }
  .cartItemRow{
    font-size:14px;
  }
 
  .cartItemRow a {
      text-decoration: none;
      font-size:12px !important;
  
  } 
  .invoiceTable .item{
    width: 30% !important;
  }
  .invoiceTable .qty {
    width: 9%!important;
  }
  .invoiceTable .uPrice {
    width: 11%!important;
  }
  .invoiceTable .disc {
    width: 10%!important;
}
.invoiceTable .est {
  width: 12%!important;
}
.invoiceTable .refAmt {
  width: 13%!important;
}
.invoiceTable .refDt {
  width: 11%!important;
}

.imgAlign{
  width: 45px !important;
  margin-right: 15px !important;
}
.item .slds-size_10-of-12{
  width: 80px !important;
}
.invoiceLabel > .slds-col label{
  display:none !important;
}
.qty,.amt{
  text-align:center !important;
}
}

.invoiceLabel > .slds-col label{
    display:none;
}
/*Responsive Starts here*/
@media (max-width: 1024px) {   
}

@media (max-width: 1023px) {}
@media (min-width: 768px) {  
  .invoiceTable .uPrice {
    width: 11%;
  }
  .invoiceTable .disc {
    width: 10%;
}
.invoiceTable .est {
  width: 12%;
}
.invoiceTable .refAmt {
  width: 13%;
}
.invoiceTable .refDt {
  width: 11%;
}
}
@media (max-width: 767px) {  
  .invoiceLabel > .slds-col.item{
    width:100%;
    margin-bottom:16px;
  }
  .invoiceLabel > .slds-col{
    width:50%;
    text-align:left;
    margin-bottom:16px;
    padding-left: 0.5rem;
  }
  .invoiceLabel > .slds-col label{
    display:block;color: #9b9b9b;

  }
}

@media (max-width: 479px) {}