.mcLink { 
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mcLink .count {
    width: 26px;
    height: 26px;
    background: #da291c;
    display: inline-block;
    border-radius: 50px;
    color: #fff;
    line-height: 26px;
    font-size: 14px;
    margin-right: 6px;
}

.emptyCart {
    color: #707070;
    font-size: 16px;
    text-align: center;
    padding: 30px 10px;
}

.slds-is-open .mcLink {
    color: #da291c;
}

.slds-is-open .mcLink .count {
    background: #000;
}

.drop-down {
    position: relative;
    display: inline-block;
    width: auto;
    margin-top: 0;
    font-family: verdana;
}

.drop-down select {
    display: none;
}

.drop-down .select-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 40px;
    padding: 0;
    background-color: #595959;
}

.drop-down .select-list li {
    display: none;
}

.drop-down .select-list li span {
    display: inline-block;
    min-height: 40px;
    min-width: 280px;
    width: 100%;
    padding: 5px 15px 5px 35px;
    background-color: #595959;
    background-position: left 10px center;
    background-repeat: no-repeat;
    font-size: 16px;
    text-align: left;
    color: #FFF;
    opacity: 0.7;
    box-sizing: border-box;
}

.drop-down .select-list li span:hover,
.drop-down .select-list li span:focus {
    opacity: 1;
}

.slds-select {
    border: none;
    padding-bottom: 5px;
}

.btn-clr {
    color: black;
    border: none;
    background-color: white;
    display: block;
}

.btn-clr a {
    text-decoration: none;
    display: block;
}

.mcComboBox {
    margin: 0;
    max-width: 370px;
    width: 370px;
    left: auto;
    right: -185px;
    padding: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .16);
    border: none;
    min-width: 370px;
    top: 28px;
    text-align:center;

}

.mcComboBox ul {
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #e8e8e8;
}

.mcComboBox li {
    position: relative;
    min-height: 80px;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 10px 15px 80px;
}

.mcComboBox li .mcProdImg {
    position: absolute;
    left: 10px;
    width: 54px;
    height: 54px;
    object-fit: contain;
    top: 18px;
}

.fillArrow {

    margin-left: 6px;

}

.slds-is-open .fillArrow {
    transform: rotate(180deg);
}

.mcTitle {
    display: block;
    color: #000000;
    margin-bottom: 10px;
    min-height: 35px;
    text-align: left;
}

.slds-listbox_vertical .slds-listbox__option:hover {
    background: transparent;
}

.mcListBot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

span.mcSaveDel {
    display: flex;
    align-items: center;
}

span.mcSaveDel .save {
    margin-right: 10px;
    color: #005587;
    text-decoration: none;
    font-size: 16px;
}

span.mcSaveDel .save:hover {
    color: #333333;
    transform: scale(1.1); 
}

span.mcSaveDel .del {
    padding: 5px;
    border-radius: 50px;
    min-width: 28px;
    text-decoration: none;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}


span.mcSaveDel .del:hover {
    background-color: #f2f6f9;
}

a.del img {
    width: 16px;
}

.mcPrice {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.goToCartBtn {
    margin: 20px auto;
    display: inline-block;  
}
.goToCartBtn.dWindow{
    display: inline-block !important;
}

.spinnerSmall {
    display: flex;
    margin-left: 7px;
    margin-top: 7px;
}

.icon-trash {
    font-size: 16px;
}



/*Responsive Starts here*/
@media (max-width: 1024px) {
 
}

@media (max-width: 1023px) {
 

}

@media (max-width: 767px) {
    .mcComboBox{
        position: absolute;
    top: 60px;
    left: 0;
    transform: none;
    width: 100%;
    min-width: 100%;
    border-radius: 0;
    min-height: calc(100vh - 60px);
    z-index: 999999;
        }
        .mcComboBox.hcbAvail{
            min-height: calc(100vh - 150px);
        }
        .goToCartBtn  {
            margin: 20px auto;
        }
        .goToCartBtn.mWindow{ 
            white-space: nowrap;
        }
        
}

@media (max-width: 374px) {
  

}

@media print {
    .noPrint {
        display: none;
    }
}