.trackOrder {
    min-height: 500px;
    margin-top:30px;
    padding:0 5%;
}
.trackOrderForm{
    background-color:#F4F5F5;
    padding:24px 0px;
    margin:20px 0;
    border-radius:3px;
}
.trackOrderForm .toForm{
    width:100%;
}
.trackOrderHeader{
    display: flex;
    justify-content: space-between;
}
.trackReturnOrder {
    display:flex;
    justify-content:flex-end;
}
.trackReturnOrder button {
    min-width: 138px;
}
.trackReturnOrder  a{
    /* margin: 0 10px; */
    min-width: 138px;
    margin-left:15px;
}
.print i {
    margin-left: 10px;
}
.btn-W{
    width:100px;
}
.input_align{
    font-family: 'Helvetica Neue';
}
@media print {
    a.print, .stepNav[c-dbu_headerCheckoutSteps_dbu_headerCheckoutSteps], footer[c-dbu_footerHomePage_dbu_footerHomePage], h1, h1+div{display:none;}

    .orderReceiptPage h1{
       display:none;
    }
    .orderReceiptPage .confirmMsg 
    {
display:none;
    }
    .orderReceiptPage  .print{
        display:none;
            }
            .trackOrder a {
                display:none;
            }
            .trackOrderForm {
                display:none;
            }
            .trackOrderHeader{
                display:none;
            }
            .trackReturnOrder button{
                display:none;
                }
}
@media (max-width: 767px) {
    .trackReturnOrder button {
        margin: 15px;
        width: 100%;
        margin-left: 0 !important;
    }
    .trackReturnOrder {
        display: block;
        justify-content: flex-end;
    }
    .trackReturnOrder a {
        margin: 0px!important;
        width: 100%;
    }
}