.fThreeCols {
    padding: 25px 60px;
  
}

.fThreeCols .slds-col {
    margin-bottom: 20px;
}

 h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 25px;
} 

footer {
    position: relative;
    background: #F4F5F5; 
}
/* footer:before {
    width: 100%;
    height: 1px;
    background: #939598;
    content: "";
    display: block;
    top: 75px;
    position: absolute;
} */

@media print {
    .fPrint{
        display:none;
    }
}


/*Responsive Starts here*/
@media (max-width: 1024px) {
 
}

@media (max-width: 1023px) {
    footer{
        margin-top: 25px;}
    .fThreeCols {
        padding:16px 0;
    }
    h4{
        margin-bottom:16px; 
    }
    footer:before{
        display:none;
    }

    
    .fService{
        order:2; 
        padding: 0 16px 16px; 
    }
    .fResources{
        order:1; 
        padding: 16px 16px 16px; 
    }
    .fSubscribe{
        order:3;
        padding: 0 16px 16px; 
    }
}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}